{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!-- Title -->
{% block title %} BioJupies | Help {% endblock %}

<!-- Content -->
{% block content %}

<div id="help" class="px-6">
	<!-- <div class="row"> -->
		<!-- <div class="col-8 large mt-4 pl-4">BioJupies Help Center</div> -->
	<!-- </div> -->
	<div class="row my-5">

		<!-- Left Panel -->
		<div class="d-none d-xl-block col-xl-3 pl-0 ml-0">

			<!-- Wrapper -->
			<nav id="categories" class="position-fixed">

				<!-- Category nav -->
				<nav class="nav nav-pills flex-column">

					<!-- Category loop -->
					{% for category in categories %}

						<!-- Category link -->
						<a class="nav-link small rounded-0" href="#{{ category['title'].lower().replace(' ', '_') }}">{{ category['title'] }}</a>
				
						<!-- Section Nav -->
						<nav class="nav nav-pills flex-column">
							
							<!-- Section loop -->
							{% for section in category['sections'] %}
								{% if section['title'] %}
									<a class="pl-4 nav-link tiny rounded-0" href="#{{ section['title'].lower().replace(' ', '_') }}">{{ section['title'] }}</a>
								{% endif %}
							{% endfor %}

						</nav>
						
					{% endfor %}

				</nav>
			</nav>

		</div>

		<!-- Right Panel -->
		<div class="col-12 col-xl-9">

			<!-- Content -->
			<div data-offset="0" class="pl-5">

				<!-- Category -->
				{% for category in categories %}
					<div id="{{ category['title'].lower().replace(' ', '_') }}" class="large bold {{ 'mt-4' if loop.index > 1 else '' }}">{{ category['title'] }}</div>

					<!-- Section -->
					{% for section in category['sections'] %}

						<!-- Title -->
						{% if section['title'] %}
							<div class="nav nav-pills medium bold {{ 'mt-4' if loop.index > 1 else 'mt-2' }}" id="{{ section['title'].lower().replace(' ', '_') if section.get('title') else loop.index }}">{{ section['title'] }}</div>
						{% endif %}

						<!-- Text -->
						<div class="mt-2">{{ section['text'].replace('entrypoint', entry_point+'/app/static/img/help/') | safe }}</div>
					{% endfor %}

				{% endfor %}
			</div>

		</div>

	</div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
	// Activate Scrollspy
	$('body').scrollspy({ target: '#categories' })

	// Activate iframes asynchronously
	// $(document).ready(function() {
	// 	$('iframe').each(function(index, elem) {
	// 		$(elem).attr('src', $(elem).attr('id'));
	// 	})
	// })
</script>

{% endblock %}