{% extends 'base.html' %}

<!-- Title -->
{% block title %} BioJupies | Generate Tailored RNA-seq Data Analysis Notebooks via User Interface {% endblock %}

<!-- Head -->
{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">
	<meta name="description" content="With BioJupies you can produce in seconds a customized, reusable, and interactive report from your own raw or processed RNA-seq data through a simple user interface.">
{% endblock %}

<!-- Content -->
{% block content %}

<!-- Carousel Row -->
<div id="intro-row" class="row py-3 px-6">

	<!-- Carousel Column -->
	<div class="col-lg-6 mt-3 mb-3 order-2 order-lg-1 pb-lg-0">
		<div id="carousel">
			{% for carousel_image in carousel_images %}
			{% if loop.index == 2 %}
				<div class="mw-100 nodecoration px-3 py-3 mx-1"><iframe class="w-100 h-100 border-black hidden" src="https://www.youtube.com/embed/EJOd1f0QV-w"></iframe></div>
				{% else %}
					<div style="background: url({{ url_for('static', filename='img/carousel/'+carousel_image+'.png') }});" class="mw-100 nodecoration px-3 py-3 mx-1"></div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<!-- Intro Column -->
	<div id="text-col" class="col-lg-6 text-center mt-2 order-1 order-lg-2 pb-5 pb-lg-0">
		<div id="intro-title" class="bold large mt-3 mt-lg-5 mb-4 px-xl-5 px-lg-0 px-5">BioJupies Automatically Generates RNA-seq Data Analysis Notebooks</div>
		<div id="intro-description" class="light medium mb-5 px-3">With BioJupies you can produce in seconds a customized, reusable, and interactive report from your own raw or processed RNA-seq data through a simple user interface</div>
		<div id="get-started" class="regular small"><a href="{{ url_for('analyze') }}" class="px-4 py-3 border-grey bg-blue white nodecoration rounded">Get Started</a></div>
	</div>
	
</div>

<!-- How to create notebooks? -->
<div class="bg-lightgrey w-100 px-6 py-3">

	<!-- Title -->
	<div class="row text-center mt-3 pb-4 mb-2">
		<div class="col-12 large light">
			How to Create a Notebook?
		</div>
	</div>

	<!-- Columns -->
	<div class="row text-left pb-4 px-4">
		{{ macros.intro_col('fa fa-database', '1. Upload or Fetch Data', 'Select from thousands of ready-to-analyze RNA-seq datasets, or upload your own') }}
		{{ macros.intro_col('fa fa-cogs', '2. Select Tools', 'Choose from multiple data analysis and visualization tools, or contribute your own code') }}
		{{ macros.intro_col('fa fa-book', '3. Generate', 'Create, access and share your analysis notebooks through a permanent and public URL') }}
	</div>

</div>

<!-- Customize your analysis -->
<div class="bg-white w-100 px-6 py-3">

	<!-- Title -->
	<div class="row text-center mt-3 pb-4 mb-2">
		<div class="col-12 large light">
			Customize Your Analysis
		</div>
	</div>

	<!-- Columns -->
	<div class="row text-left pb-4 px-4">
		{{ macros.intro_col('fa fa-database', 'Upload Your Own Data', 'Generate tailored analysis notebooks from your RNA-seq datasets', 'upload_table') }}
		{{ macros.intro_col('fa fa-wrench', 'Contribute Your Code', 'Add and share your own computational tools as BioJupies plugins', 'contribute') }}
		{{ macros.intro_col('fab fa-docker', 'Rerun Your Notebooks', 'Download, run and customize your analysis notebooks using a Docker container', 'docker') }}
	</div>

</div>
{% endblock %}

<!-- Footer -->
{% block footer %}
<script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<script type="text/javascript">
  $('#carousel').slick({
  	infinite: true,
  	dots: true,
  	autoplay: true,
  	autoplaySpeed: 10000
  });

  $('iframe').removeClass('hidden');
</script>
{% endblock %}