{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!-- Title -->
{% block title %} BioJupies | Dashboard {% endblock %}

<!-- Content -->
{% block content %}

<style>
    .mw-20 {
        min-width: 25px;
    }

    .nav-link { color: black;  }
    .nav-link:hover { color: black;  }

</style>

<!-- Dashboard  -->
<div class="row px-6 mt-5">

    <!-- Navigation -->
    <div class="nav flex-column pr-3 d-inline-block nav-pills small light pt-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link py-2 my-1 active" id="home-tab" data-toggle="pill" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fas mr-3 mw-20 text-center fa-tachometer-alt"></i>Home</a>
        <a class="nav-link py-2 my-1" id="notebooks-tab" data-toggle="pill" href="#notebooks" role="tab" aria-controls="notebooks" aria-selected="false"><i class="fas mr-3 mw-20 text-center fa-book"></i>Notebooks</a>
        <a class="nav-link py-2 my-1" id="datasets-tab" data-toggle="pill" href="#datasets" role="tab" aria-controls="datasets" aria-selected="false"><i class="fas mr-3 mw-20 text-center fa-table"></i>Datasets</a>
        <a class="nav-link py-2 my-1" id="alignments-tab" data-toggle="pill" href="#alignments" role="tab" aria-controls="fastq" aria-selected="false"><i class="fas mr-3 mw-20 text-center fa-dna"></i>Alignment Jobs</a>
    </div>

    <!-- Content -->
    <div class="tab-content d-flex flex-fill pl-4" id="v-pills-tabContent">

        <!--  -->
        <!-- Home tab -->
        <!--  -->
        <div class="tab-pane show active fade w-100" id="home" role="tabpanel" aria-labelledby="home-tab"> <!-- show active -->

            <!-- Title -->
            <div class="very-large light">BioJupies Dashboard</div>
            <hr width="100%" class="mt-3 mb-4">

            <!-- Options -->
            <div class="row">
                {{ macros.dashboard_option(title='Search Published Data', link='published_data', icon='fa fa-search', colsize='col-3') }}
                {{ macros.dashboard_option(title='Upload Expression Table', link='upload_table', icon='fa fa-table', colsize='col-3') }}
                {{ macros.dashboard_option(title='Upload FASTQ<br>Files', link='upload_reads', icon='fas fa-dna', colsize='col-3') }}
            </div>

        </div>

        <!--  -->
        <!-- Notebooks tab -->
        <!--  -->
        <div class="tab-pane fade w-100" id="notebooks" role="tabpanel" aria-labelledby="notebooks-tab">

            <!-- Title -->
            <div class="very-large mb-3 light">Your Notebooks</div>
            <hr width="100%" class="mt-3 mb-4">

            <!-- Notebooks -->
            {% if notebooks|length %}
                {% for notebook in notebooks %}
                    <div class="border-custom rounded bg-lightgrey px-3 py-2 my-2">
                        <a class="black bold d-block nodecoration" href="{{ url_for('view_notebook', notebook_uid=notebook['notebook_uid']) }}" target="_blank">{{ notebook['notebook_title'] }}</a>
                        <div class="text-muted tiny font-italic light">Generated {{ notebook['date'].strftime('%B %-d, %Y') }}</div>
                        <a class="black light tiny d-block nodecoration" href="{{ url_for('view_notebook', notebook_uid=notebook['notebook_uid']) }}" target="_blank">{{ url_for('view_notebook', notebook_uid=notebook['notebook_uid'], _external=True) }}</a>
                        Private <input type="checkbox" class="ml-2 private-checkbox" data-uid="{{ notebook['notebook_uid'] }}" data-object_type="notebook" data-action="change_privacy" {% if notebook['private'] %}checked{% endif %}>
                        
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    You haven't generated any notebooks yet. To get started, please visit <a href="{{ url_for('analyze') }}">{{ url_for('analyze', _external=True) }}</a>.
                </div>
            {% endif %}
        </div>
        
        <!--  -->
        <!-- Datasets tab -->
        <!--  -->
        <div class="tab-pane fade w-100" id="datasets" role="tabpanel" aria-labelledby="datasets-tab">

            <!-- Title -->
            <div class="very-large mb-3 light">Your Datasets</div>
            <hr width="100%" class="mt-3 mb-4">

            <!-- Datasets -->
            {% if datasets|length %}
                {% for dataset in datasets %}
                <div class="border-custom rounded bg-lightgrey px-3 py-2 my-2">
                    <div class="small light dataset-title">
                        <span data-uid="{{ dataset['dataset_uid'] }}" data-object_type="user_dataset" data-action="rename">{{ dataset['dataset_title'] }}</span>
                        <a class="ml-4 micro nodecoration rename-link" data-action="rename" href="#">Rename</a>
                        <input type="text" class="form-control d-none" value="{{ dataset['dataset_title'] }}">
                        <a class="micro nodecoration rename-link d-none" data-action="confirm" href="#">Confirm</a>
                    </div>
                    <div class="text-muted tiny font-italic light my-1">
                        <span>Uploaded {{ dataset['date'].strftime('%B %-d, %Y') }}</span>
                        <span class="ml-5">{{ dataset['samples'] }} samples</span>
                    </div>
                    <a href="{{ url_for('add_tools', uid=dataset['dataset_uid']) }}" target="_blank" class="d-block mt-1 nodecoration">Analyze</a>
                    <!-- Private <input type="checkbox" class="ml-2 private-checkbox" data-uid="{{ dataset['dataset_uid'] }}" data-object_type="user_dataset" data-action="change_privacy" {% if dataset['private'] %}checked{% endif %}> -->
                </div>
                {% endfor %}
            {% else %}
                <div>
                    You haven't uploaded any datasets yet. To get started, please visit <a href="{{ url_for('upload') }}">{{ url_for('upload', _external=True) }}</a>.
                </div>
            {% endif %}

        </div>
        
        <!--  -->
        <!-- Alignment jobs tab -->
        <!--  -->
        <div class="tab-pane fade w-100" id="alignments" role="tabpanel" aria-labelledby="alignments-tab">

            <!-- Title -->
            <div class="very-large mb-3 light">Your FASTQ Files</div>
            <hr width="100%" class="mt-3 mb-4">

            <!-- Datasets -->
            {% if alignments|length %}

                {% for alignment in alignments %}

                    <!-- Alignment -->
                    <div>
                        Alignment #{{ loop.index }}
                        <a data-toggle="collapse" href="#{{ alignment['alignment_uid'] }}" role="button" aria-expanded="false">Expand</a>
                        <a href="#">Analyze</a>
                    </div>

                    <!-- Samples -->
                    <div class="collapse" id="{{ alignment['alignment_uid'] }}">
                        Statuses from Elysium.
                    </div>

                {% endfor %}

            {% else %}
                <div class="mb-3">You haven't uploaded any FASTQ files yet.</div>
                <div>To get started, please visit <a href="{{ url_for('upload_reads') }}">{{ url_for('upload_reads', _external=True) }}</a>.</div>
            {% endif %}

        </div>


    </div>
</div>

{% endblock %}

{% block footer %}

<script type="text/javascript">
    $(document).ready(function () {

        // Edit object
        function edit_object($elem, title=null) {
            $.ajax({
                url: "{{ url_for('edit_object', _external=True) }}",
                data: JSON.stringify({'object_type': $elem.data('object_type'), 'uid': $elem.data('uid'), 'action': $elem.data('action'), 'title': title}),
                dataType: 'json',
                contentType: "application/json",
                method: "POST",
                success: function(response) {
                    // Set privacy
                    if ($elem.data('action') === 'change_privacy') {
                        $elem.prop('checked', response['private']);
                        console.log('set '+$elem.data('object_type')+' '+$elem.data('uid')+' privacy to '+response['private']);
                    } else if ($elem.data('action') === 'rename') {
                        $elem.html(response['title']);
                        console.log('set '+$elem.data('object_type')+' '+$elem.data('uid')+' title to '+response['title']);
                    }
                },
                error: function() {
                    alert('Sorry, there has been an error.');
                }
            })
        }

        // Private
        $('.private-checkbox').click(function(evt) {
            evt.preventDefault();
            edit_object($elem=$(this));
        })

        // Rename
        $('.rename-link').click(function (evt) {
            var $wrapper = $(this).parents('.dataset-title');
            if ($(this).data('action') == 'confirm') {
                edit_object($elem=$wrapper.find('span'), title=$wrapper.find('input').val());
            }
            $wrapper.children().toggleClass('d-none');
            // edit_object($elem = $(this));
        })



    })
</script>


{% endblock %}