{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!-- Title -->
{% block title %} BioJupies | Dashboard {% endblock %}

<!-- Content -->
{% block content %}

<style>
    .mw-20 {
        min-width: 25px;
    }

    .nav-link { color: black;  }
    .nav-link:hover { color: black;  }
    .flex-grow-1 {
        -ms-flex-positive: 1!important;
        flex-grow: 1!important;
    }
    .flex-fill {
        -ms-flex: 1 1 auto!important;
        flex: 1 1 auto!important;
    }
</style>

<!-- Dashboard  -->
<div class="d-flex flex-row w-100 px-6 mt-5">

    <!-- Navigation -->
    <div class="nav flex-column pr-3 nav-pills small light pt-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link py-2 my-1 active" id="home-tab" data-toggle="pill" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fas mr-3 mw-20 text-center fa-tachometer-alt"></i>Home</a>
        <a class="nav-link py-2 my-1" id="notebooks-tab" data-toggle="pill" href="#notebooks" role="tab" aria-controls="notebooks" aria-selected="false"><i class="fas mr-3 mw-20 text-center fa-book"></i>Notebooks</a>
        <a class="nav-link py-2 my-1" id="datasets-tab" data-toggle="pill" href="#datasets" role="tab" aria-controls="datasets" aria-selected="false"><i class="fas mr-3 mw-20 text-center fa-table"></i>Datasets</a>
        <a class="nav-link py-2 my-1" id="alignments-tab" data-toggle="pill" href="#alignments" role="tab" aria-controls="fastq" aria-selected="false"><i class="fas mr-3 mw-20 text-center fa-dna"></i>Alignment Jobs</a>
    </div>

    <!-- Content -->
    <div class="tab-content w-75 pl-3" id="v-pills-tabContent">

        <!--  -->
        <!-- Home tab -->
        <!--  -->
        <div class="tab-pane fade w-100" id="home" role="tabpanel" aria-labelledby="home-tab"> <!-- show active -->

            <!-- Title -->
            <div class="very-large light">BioJupies Dashboard</div>
            <hr width="100%" class="mt-3 mb-4">

            <!-- Introduction -->
            <div>
                Welcome to the BioJupies user dashboard.
                The dashboard allows you to keep track of your generated notebooks, uploaded datasets and alignment jobs.
            </div>

            <div class="mt-3">
                To get started, use the navigation bar on the left or select one of the options below:
            </div>

            <!-- Options -->
            <div class="row mt-4">
                {{ macros.dashboard_option(title='Notebooks', tablink='notebooks', routelink='analyze', icon='fas fa-book', number=notebooks|length) }}
                {{ macros.dashboard_option(title='Datasets', tablink='datasets', routelink='upload_table', icon='fas fa-table', number=datasets|length) }}
                {{ macros.dashboard_option(title='Alignment Jobs', tablink='alignments', routelink='upload_reads', icon='fas fa-dna', number=alignments|length) }}
            </div>

            <!-- Sharing Info -->
            <div class="mt-4 text-muted very-small text-light">
                <!-- <i class="fas fa-retweet large align-middle mr-1"></i> -->
                <b>Note:</b> all generated notebooks and uploaded data are made <b>private by default</b>.
                If you wish to share your results, you can change the privacy settings in the related section.
            </div>

        </div>

        <!--  -->
        <!-- Notebooks tab -->
        <!--  -->
        <div class="tab-pane fade w-100" id="notebooks" role="tabpanel" aria-labelledby="notebooks-tab">

            <!-- Title -->
            <div class="very-large mb-3 light">Your Notebooks</div>
            <hr width="100%" class="mt-3 mb-4">

            <!-- Notebooks -->
            {% if notebooks|length %}

                <!-- Notebook Intro -->
                <div class="mb-4">The table below displays your generated notebooks.</div>

                <!-- Notebook Table -->
                <table class="table table-striped w-100 text-center">
                    <thead>
                        <th>Notebook Name</th>
                        <th>Date</th>
                        <th>Private</th>
                        <th>Link</th>
                    </thead>
                    <tbody>
                        {% for notebook in notebooks %}
                        <tr>
                            <td>{{ notebook['notebook_title'] }}</td>
                            <td>{{ notebook['date'].strftime('%B %-d, %Y') }}</td>
                            <td><input type="checkbox" class="ml-2 private-checkbox" data-uid="{{ notebook['notebook_uid'] }}" data-object_type="notebook" data-action="change_privacy" {% if notebook['private'] %}checked{% endif %}></td>
                            <td><a href="{{ url_for('view_notebook', notebook_uid=notebook['notebook_uid']) }}" target="_blank"><i class="fa fa-external-link-alt black"></i></a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            {% else %}
                <div>
                    You haven't generated any notebooks yet. To get started, please visit <a href="{{ url_for('analyze') }}">{{ url_for('analyze', _external=True) }}</a>.
                </div>
            {% endif %}
        </div>
        
        <!--  -->
        <!-- Datasets tab -->
        <!--  -->
        <div class="tab-pane fade w-100" id="datasets" role="tabpanel" aria-labelledby="datasets-tab">

            <!-- Title -->
            <div class="very-large mb-3 light">Your Datasets</div>
            <hr width="100%" class="mt-3 mb-4">

            <!-- Datasets -->
            {% if datasets|length %}
                <div class="mb-3">The table below displays your uploaded datasets.</div>

                  <!-- Dataset Table -->
                <table class="table table-striped w-100 text-center">
                    <thead>
                        <th>Dataset Name</th>
                        <th>Date</th>
                        <th>Samples</th>
                        <th>Private</th>
                        <th>Analyze</th>
                    </thead>
                    <tbody>
                        {% for dataset in datasets %}
                        <tr>
                            <td class="dataset-title text-left my-auto">
                                <span data-uid="{{ dataset['dataset_uid'] }}" data-object_type="user_dataset" data-action="rename">{{ dataset['dataset_title'] }}</span>
                                <a class="ml-4 micro nodecoration rename-link float-right mt-1" data-action="rename" href="#">Rename</a>
                                <input type="text" class="form-control d-none" value="{{ dataset['dataset_title'] }}">
                                <a class="micro nodecoration rename-link d-none ml-2" data-action="confirm" href="#">Confirm</a>
                            </td>
                            <td>{{ dataset['date'].strftime('%B %-d, %Y') }}</td>
                            <td>{{ dataset['samples'] }}</td>
                            <td><input type="checkbox" class="ml-2 private-checkbox" data-uid="{{ dataset['dataset_uid'] }}" data-object_type="user_dataset" data-action="change_privacy" {% if dataset['private'] %}checked{% endif %}></td>
                            <td><a href="{{ url_for('add_tools', uid=dataset['dataset_uid']) }}" target="_blank"><i class="fa fa-external-link-alt black"></i></a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <div>
                    You haven't uploaded any datasets yet. To get started, please visit <a href="{{ url_for('upload') }}">{{ url_for('upload', _external=True) }}</a>.
                </div>
            {% endif %}

        </div>
        
        <!--  -->
        <!-- Alignment jobs tab -->
        <!--  -->
        <div class="tab-pane fade show active w-100" id="alignments" role="tabpanel" aria-labelledby="alignments-tab">

            <!-- Title -->
            <div class="very-large mb-3 light">Your Alignment Jobs</div>
            <hr width="100%" class="mt-3 mb-4">

            <!-- Datasets -->
            {% if alignments|length %}
                <div class="mb-3">The list below displays your alignment jobs. Please refresh the page to check live alignment status.</div>

                {% for alignment in alignments %}

                    <!-- Alignment -->
                    <div class="bg-lightgrey border-custom rounded mt-2 px-3 py-2 d-table w-100">
                        <div class="d-table-cell align-middle pr-3">
                            <img src="{{ url_for('static', filename='img/alignment/'+alignment['species'].replace('mm', 'mouse').replace('hs', 'human')+'.png') }}">
                        </div>
                        <div class="d-table-cell align-middle">
                            <div class="very-small regular mb-2">FASTQ Alignment #{{ loop.index }}</div>
                            <div class="tiny light text-muted">
                                <span><span class="font-italic">{{ alignment['species'].replace('mm', 'Mus musculus').replace('hs', 'Homo sapiens') }}</span></span>
                                <span class="ml-5">{{ alignment['progress']|length }} samples</span>
                                <span class="ml-5">Launched <span class="font-italic">{{alignment['date'].strftime('%B %e, %Y')}}</span></span>
                            </div>
                        </div>
                        <div class="d-table-cell align-middle card-options">
                            <div class="d-block">
                                <button class="btn text-center w-100 mb-1 bg-blue white border-grey light tiny mb-1 nodecoration">
                                    <a href="{{ url_for('upload_reads', table=alignment['alignment_uid']) }}" class="white nodecoration">Analyze<i class="fa fa-angle-right ml-2"></i></a>
                                </button>
                                <button class="btn text-center w-100 border-grey bg-transparent light tiny nodecoration text-muted" data-toggle="collapse" data-target="#{{ alignment['alignment_uid'] }}" aria-expanded="false">
                                    More Info<i class="fa fa-angle-down ml-1 fa-1x"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Samples -->
                    <div class="collapse border-grey border-top-0 mx-2 px-3 py-2 rounded-bottom" id="{{ alignment['alignment_uid'] }}">
                        {% for status in alignment['progress'] %}
                        <div>
                            {{ status['sample_name'] }}
                            {{ status['status'] }}
                        </div>
                        {% endfor %}
                    </div>


                {% endfor %}

            {% else %}
                <div class="mb-3">You haven't launched any alignment jobs yet.</div>
                <div>To get started, please visit <a href="{{ url_for('upload_reads') }}">{{ url_for('upload_reads', _external=True) }}</a>.</div>
            {% endif %}

        </div>


    </div>
</div>

{% endblock %}

{% block footer %}

<script type="text/javascript">
    $(document).ready(function () {

        // Edit object
        function edit_object($elem, title=null) {
            $.ajax({
                url: "{{ url_for('edit_object', _external=True) }}",
                data: JSON.stringify({'object_type': $elem.data('object_type'), 'uid': $elem.data('uid'), 'action': $elem.data('action'), 'title': title}),
                dataType: 'json',
                contentType: "application/json",
                method: "POST",
                success: function(response) {
                    // Set privacy
                    if ($elem.data('action') === 'change_privacy') {
                        $elem.prop('checked', response['private']);
                        console.log('set '+$elem.data('object_type')+' '+$elem.data('uid')+' privacy to '+response['private']);
                    } else if ($elem.data('action') === 'rename') {
                        $elem.html(response['title']);
                        console.log('set '+$elem.data('object_type')+' '+$elem.data('uid')+' title to '+response['title']);
                    }
                },
                error: function() {
                    alert('Sorry, there has been an error.');
                }
            })
        }

        // Private
        $('.private-checkbox').click(function(evt) {
            evt.preventDefault();
            edit_object($elem=$(this));
        })

        // Rename
        $('.rename-link').click(function (evt) {
            var $wrapper = $(this).parents('.dataset-title');
            if ($(this).data('action') == 'confirm') {
                edit_object($elem=$wrapper.find('span'), title=$wrapper.find('input').val());
            }
            $wrapper.children().toggleClass('d-none');
            // edit_object($elem = $(this));
        })

        // Click listener
        $('.dashboard-link').click(function(evt) {
            $('#'+$(this).attr('data-tab')+'-tab').click();
        })



    })
</script>


{% endblock %}