*-checkpoint.ipynb
*.pyc
web/flask/static/py/__pycache__/KubernetesAPI.cpython-36.pyc

*.pyc

*.pyc

*.sqlite

*.dir

*.sqlite

database/.ruffus_history.sqlite

database/.ruffus_history.sqlite

jupyterhub/setup.txt

jupyterhub/config.yaml
