{% extends "base.html" %}

{% block head %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
{% endblock %}

{% block content %}

{% if 'acc' in request.args.keys() %}

	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div id="loading" style="text-align: center; font-size: 35px; font-family: 'Montserrat'; margin-top: 325px; margin-bottom: -25px;">Loading Notebook...</div>
				<div class="sk-cube-grid">
					<div class="sk-cube sk-cube1"></div>
					<div class="sk-cube sk-cube2"></div>
					<div class="sk-cube sk-cube3"></div>
					<div class="sk-cube sk-cube4"></div>
					<div class="sk-cube sk-cube5"></div>
					<div class="sk-cube sk-cube6"></div>
					<div class="sk-cube sk-cube7"></div>
					<div class="sk-cube sk-cube8"></div>
					<div class="sk-cube sk-cube9"></div>
				</div>
				<div id="accession" style="text-align: center; font-size: 25px; font-family: 'Montserrat'; color: #757575; margin-top: -30px;">Dataset: {{ request.args.get('acc') }}</div>
			</div>
		</div>
	</div>

{% else %}

	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div id="loading" style="text-align: center; font-size: 35px; font-family: 'Montserrat'; margin-top: 325px;">Select a Dataset:</div>
				<div id="tags-wrapper" style="text-align: center; margin-top: 25px;">
					<form action="{{ url_for('index') }}">
						<input id="tags" name="acc" style="font-size: 25px; font-weight: 100;">
						<br>
						<button class="btn btn-primary" style="margin-top: 25px; cursor: pointer; background-color: #1d1d1d; border: none;" type="submit">Launch Notebook</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endif %}

{% endblock %}

{% block footer %}

	{% if 'acc' in request.args.keys() %}
		<script type="text/javascript">
			$.ajax({ url: "{{ url_for('launchService', acc=request.args.get('acc')) }}", success: function(url) { window.location.href = url; } });
		</script>
	{% else %}
		<script src="{{ url_for('static', filename='js/archs4_gse.js') }}"></script>
		<script type="text/javascript">
			$('#tags').autocomplete({
				source: gse,
				minLength: 3
			});
		</script>
	{% endif %}

{% endblock %}

