{% extends "base.html" %}

{% block content %}

	<div id="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div id="loading" class="dashboard-title-lg text-center margin-top-xl margin-bottom-lg" style="margin-top: 250px;">Launching Notebook...</div>
					<div class="dashboard-text text-center">
						<div class="sk-cube-grid">
						 	<div class="sk-cube sk-cube1"></div>
						 	<div class="sk-cube sk-cube2"></div>
						 	<div class="sk-cube sk-cube3"></div>
						 	<div class="sk-cube sk-cube4"></div>
						 	<div class="sk-cube sk-cube5"></div>
						 	<div class="sk-cube sk-cube6"></div>
						 	<div class="sk-cube sk-cube7"></div>
						 	<div class="sk-cube sk-cube8"></div>
						 	<div class="sk-cube sk-cube9"></div>
						 </div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block footer %}

	<script type="text/javascript">
		$.ajax({
			url: "{{ url_for('notebook_api', _external=True, notebook_uid=notebook_uid) }}",
			type: "post",
			success: function(data) {
				window.location.href = data;
			},
			error: function(data) {
				alert('there has been an error');
			}
		});
	</script>

{% endblock %}

