{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block head %}
<title>Notebook Generator | Upload</title>
<style type="text/css">
	.tooltip-inner {
		max-width: 600px;
	}
</style>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-8 large mt-5 pl-4">Annotate the Dataset<sup><i class="fa fa-question-circle small ml-1 text-muted cursor-pointer" data-toggle="collapse" data-target="#info"></i></sup></div>
		<div class="col-4 text-right mt-5">
			<button class="btn btn-primary black border-black bg-white nodecoration mr-2" onclick="goBack();"><i class="fa fa-angle-left mr-2"></i>Back</button>
			<button class="btn btn-primary navigate black border-black bg-white nodecoration" form="upload-metadata-form">Continue<i class="fa fa-angle-right ml-2"></i></button>
		</div>
	</div>
	<div class="row">
		<hr width="100%" class="mt-3 mb-0">
		<div class="col-12 px-4">

			<!-- Add introduction -->
			<div id="info" class="text-justify collapse px-1">
				<div class="mt-4 light">Incorporating <b>prior information regarding samples</b>, such as the experimental condition or tissue of origin, allows to extract more knowledge from gene expression data.</div>
				<div class="mt-3 light">Using the form below, you can add information about the samples in the uploaded dataset, such as the experimental condition or tissue of origin.</div>
				<div class="mt-3 light">To achieve this, fill in the form on the left, or upload a metadata file using the form on the right. Once this process is complete, click continue to proceed. </div>
				<div class="pt-4 pb-2">
					<hr width="100%" class="my-0">
				</div>
			</div>

			<!-- Description -->
			<div class="medium regular mb-3 mt-3">Define Sample Groups</div>
			<div id="intro" class="very-small light mb-3">To proceed, <b>define groups of samples</b> based on the experimental condition or biological source - this will allow to extract more knowledge from the dataset. To achieve this, <b>manually complete the form</b> on the left or <b>upload a metadata file</b> using the form on the right. </div>

		</div>
	</div>
	<div id="options" class="row mt-2 px-2">

		<!-- Manual Annotation Table -->
		<div class="col-6 px-0">
			<!-- Predict Groups -->
			<div class="hidden">
				<div class="d-table-cell">
					<div class="onoffswitch">
					    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="predict-groups" checked>
					    <label class="onoffswitch-label" for="predict-groups"></label>
					</div>
				</div>
				<div class="d-table-cell pl-2 very-small regular">
					Predict Groups <sup><i class="fa fa-question-circle" data-toggle="tooltip" data-html="true" data-placement="right" title="Automatically predicts the<br>groups based on the<br>sample names."></i></sup>
				</div>
			</div>

			<!-- Sample Annotation Table -->
			<table id="sample-annotation-table" class="tiny text-center table-striped border-grey w-100 mb-5">
				<thead class="very-small">
					<tr class="border-grey border-left-0 border-right-0">
						<th>Sample<sup><i class="fa fa-question-circle small ml-1 micro" data-toggle="tooltip" data-html="true" data-placement="right" title="The names of the samples<br>in the uploaded gene<br>expression file."></i></sup></th>
						<th class="px-3 py-1">Group<sup><i class="fa fa-question-circle small ml-1 micro" data-toggle="tooltip" data-html="true" data-placement="right" title="
									<div class='text-left px-2 py-1 light'>
										The group to which each sample belongs to, based on its experimental condition or biological source.
										<div class='mt-3 px-2'>
											Examples:
											<ul class='pl-4'>
												<li>For <b>genetic perturbations</b>: <span class='font-italic'>WT, KO, KD, Overexpression</span>.</li>
												<li>For <b>small molecule perturbations</b>: <span class='font-italic'>Vehicle, Cytarabine 5h, Valdecoxib 50µM</span>.</li>
												<li>For <b>diseases</b>: <span class='font-italic'>healthy control, primary tumor, nephropathy</span>.</li>
											</ul>
										</div>
									</div>">
								</i>
							</sup>
						</th>
					</tr>
				</thead>
				<tbody>
					{% for sample in sample_groups %}
						<tr>
							<td class="px-3 py-2 bold tiny">{{ sample['sample'] }}</td>
							<td class="px-3 py-2"><input class="form-control nodecoration tiny" type="text" name="{{sample}}-group" value="{{ sample['group'] }}" data-predicted-group="{{ sample['group'] }}"></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<!-- OR Separator -->
		<div class="col-1 text-center px-0">
			<span>OR</span>
		</div>

		<!-- Metadata File Upload -->
		<div class="col-5 px-0">
			<div class="very-small light mb-3">Upload a metadata file:</div>
			<div id="dropzone" class="dropzone border-grey rounded mt-4" style="background-image: url({{ url_for('static', filename='img/dropzone/metadata.png') }}); background-size: 100% auto;"></div>
			<form id="upload-metadata-form" action="{{ url_for('upload_'+uploadtype) }}" method="post">
				<input type="hidden" id="expression" name="expression" value="{{f.get('expression')}}">
				<input type="hidden" id="metadata" name="metadata" value="">
			</form>
			<div class="tiny mt-2">
				Supported formats: <span class="font-italic">.txt, .csv, .tsv, .xls, .xlsx</span>.
				<a href="{{ url_for('static', filename='data/sample.txt') }}" class="btn bg-white border-black black nodecoration tiny regular my-auto float-right" download>Example</a>
			</div>
		</div>
	</div>

	<!-- Uploaded File Preview -->
	<div class="row mt-2">
		<div id="preview" class="col-12">
		</div>
	</div>

</div>

{% endblock %}


{% block footer %}

<script type="text/javascript">

// Dropzone handler
$("#dropzone").dropzone({ 
	url: "{{ url_for('upload_dataframe_api') }}",
	success: function(file, response){

		// Parse response
		var response = JSON.parse(response);

		// Check if sample names match
		var expression_sample_names = JSON.parse($('#expression').val())['columns'],
			metadata_sample_names = response['index'],
			extra_names = metadata_sample_names.diff(expression_sample_names),
			missing_names = expression_sample_names.diff(metadata_sample_names);

		// Remove extra names
		if (extra_names.length) {
			$.each(extra_names, function(i, extra_name) {
				var extra_index = metadata_sample_names.indexOf(extra_name);
				response['index'].splice(extra_index, 1);
				response['data'].splice(extra_index, 1);
			})
		}

		// Alert if missing names
		if (missing_names.length) {
			alert('The following samples are missing from the metadata file:\n\t• '+missing_names.join('\n\t• ')+'\n\nPlease make sure that the rows of the metadata file match the number samples in the expression file.');
			console.log('missing');
		} else {
			// Interfaces
			$('#options').addClass('hidden');
			$('#sample-annotation-table').addClass('hidden');
			$('#intro').html('The uploaded metadata file contains <span class="highlight">'+response['columns'].length+' fields</span> and <span class="highlight">'+response['index'].length+' rows</span>. Check that the preview below is correct, then click Continue to proceed.');
			addPreviewTable(response, false);
		}
	}
});

// Check if all rows of input have been completed
$('#sample-annotation-table input').change(function(evt) {
	var complete = true;
	$('#sample-annotation-table input').each(function(i, input) {
		if ($(input).val().length === 0) {
			complete = false;
		}
	})
})

// Submit metadata
$('button[form="upload-metadata-form"]').click(function(evt) {
	evt.preventDefault();
	var $table = $('table:not(.hidden)'),
		metadata = serializeTable($table);
	metadata[0][1] = metadata[0][1].split('<sup>')[0];
	// Check metadata length here //
	$('#metadata').val(JSON.stringify(metadata));
	$('#upload-metadata-form').submit();
})

</script>

{% endblock %}
