/**********************/
/* MAIN */
/**********************/

html {
  height: 100%;
}

  body {
    height: 100%;
    min-width: 900px;
  }

/**********************/
/* Dashboard General **/
/**********************/

#dashboard-wrapper {
  height: 100%;
}

  #dashboard-sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: white;
    width: 250px;
  }

    #dashboard-sidebar-logo {
      height: 75px;
      width: 100%;
      background-color: #006B99;
      color: white;
      font-family: "Montserrat";
      display: table;
    }

      #dashboard-sidebar-logo-icon {
        display: table-cell;
        vertical-align: middle;
        font-size: 33pt;
        position: absolute;
        left: 33px;
        top: 15px;
      }

      #dashboard-sidebar-logo-text {
        display: table-cell;
        vertical-align: middle;
        font-size: 14pt;
        position: absolute;
        left: 100px;
        top: 13px;
        line-height: 17pt;
        font-weight: 300;
      }

    #dashboard-sidebar-user {
      padding: 25px 25px;
      border-bottom: 1px solid #eaeaea;
      width: 100%;
      height: 110px;
    }

      #dashboard-sidebar-user-icon {
        font-size: 50pt;
        color: #c2c2c2;
        position: absolute;
        left: 20px;
      }

      #dashboard-sidebar-user-info {
        padding-left: 85px;
        font-family: "Montserrat";
        padding-top: 5px;
      }

        #dashboard-sidebar-user-name {
          font-size: 14pt;
        }

        #dashboard-sidebar-user-status {
          font-size: 8pt;
          font-weight: 300;
        }

          #dashboard-sidebar-user-status-circle {
            color: green;
            margin-right: 5px;
          }

    #dashboard-sidebar-options {
      display: block;
      border-bottom: none;
    }

      .dashboard-sidebar-option {
        font-family: "Montserrat";
        font-weight: 500;
        text-align: left;
        margin-bottom: 0px !important;
      }

        .dashboard-sidebar-option-link {
          font-size: 11pt;
          color: #a1a1a1 !important;
          border-color: none !important;
          border: none !important;
          border-radius: 0px !important;
          border-bottom: 1px solid #eaeaea !important;
          padding: 20px 20px;
        }

          .dashboard-sidebar-option-link.active {
            color: #006B99 !important;
            -webkit-box-shadow: inset 10px 0px 0px -5px #006B99;
            -moz-box-shadow: inset 10px 0px 0px -5px #006B99;
            box-shadow: inset 10px 0px 0px -5px #006B99;
          }

        .dashboard-sidebar-option .fa {
          font-size: 17pt;
          margin-right: 15px;
          vertical-align: -7%;
        }

  #dashboard-main {
    padding-left: 250px;
    width: 100%;
    background-color: #FAFAFA;
    height: 100%;
  }

    #dashboard-topbar {
      background-color: white;
      width: 100%;
      height: 75px;
    }

      #dashboard-topbar-search-form {
        height: 100%;
        padding-left: 20px;
      }

      #dashboard-topbar-search-form-icon {
        font-size: 17pt;
        color: #a1a1a1;
      }

      #dashboard-topbar-search-form-input {
        color: #a1a1a1;
        padding-left: 15px;
        height: 100%;
        width: 90%;
        border: none;
        box-shadow: none !important;
        outline: none !important;
        font-family: "FontAwesome", "Montserrat";
        font-weight: 300;
        font-size: 15pt;
      }


/**********************/
/* Dashboard Content **/
/**********************/

#dashboard-content {
  width: 100%;
  min-width: 700px;
  border-left: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  background-color: #FAFAFA;
}

  .dashboard-title {
    font-family: "Montserrat";
    font-size: 19pt;
  }

  .dashboard-text {
    font-family: "Montserrat";
    font-size: 12pt;
    font-weight: 300;
  }

  .margin-bottom-sm {
    margin-bottom: 10px;
  }

  .margin-bottom-md {
    margin-bottom: 20px;
  }

  .margin-bottom-lg {
    margin-bottom: 35px;
  }

  .padded-sm {
    padding: 10px;
  }

  .padded-md {
    padding: 20px;
  }

  .padded-lg {
    padding: 30px;
  }

  /**********************/
  /* Dashboard Card *****/
  /**********************/

  .dashboard-card {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-family: "Montserrat";
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 3px 1px -1px rgba(0,0,0,0.03);
    -moz-box-shadow: 3px 3px 1px -1px rgba(0,0,0,0.03);
    box-shadow: 3px 3px 1px -1px rgba(0,0,0,0.03);
  }

    .dashboard-card-title {
      width: 100%;
      background-color: #F6F6F6;
      border-bottom: 1px solid #eaeaea;
      border-radius: 5px 5px 0px 0px;
      padding: 10px 15px;
      color: #808080;
      font-size: 11pt;
    }

    .dashboard-card-contents {
      width: 100%;
      background-color: white;
      border-radius: 0px 0px 5px 5px;
      padding: 15px 15px;
      color: #737373;
    }

  /**********************/
  /* Dashboard Badge ****/
  /**********************/

  .dashboard-badge {
    border-radius: 5px;
    display: table;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 3px 3px 1px -1px rgba(0,0,0,0.03);
    -moz-box-shadow: 3px 3px 1px -1px rgba(0,0,0,0.03);
    box-shadow: 3px 3px 1px -1px rgba(0,0,0,0.03);
  }

    .dashboard-badge-icon {
      display: table-cell;
      vertical-align: middle;
      font-size: 55pt;
      border-radius: 5px 0px 0px 5px;
      color: white;
      padding: 5px 10px;
      width: 120px;
      text-align: center;
      background-color: #006B99;
    }

    .dashboard-badge-content {
      display: table;
      height: 100%;
      border-radius: 0px 5px 5px 0px;
      background-color: white;
      border: 1px solid #eaeaea;
      border-left: none;
      font-family: "Montserrat";
      width: 100%;
    }

      .dashboard-badge-text {
        height: 100%;
        padding: 15px;
      }

        .dashboard-badge-title {
          font-size: 15pt;
          margin-bottom: 17px;
        }

        .dashboard-badge-description {
          font-size: 8pt;
          color: #737373;
          padding-right: 10px;
          font-weight: 300;
        }

      .dashboard-badge-button {
        display: table-cell;
        vertical-align: middle;
        border-radius: 0px 5px 5px 0px;
        color: white;
        font-size: 30pt;
        width: 75px;
        text-align: center;
        cursor: pointer;
      }

      .dashboard-badge-button:hover {
        opacity: 0.9;
      }

    .badge-search-form {
      color: #a1a1a1;
    }

      .badge-search-icon {
        font-size: 17pt;
      }

      .badge-search-input {
        border: none;
        font-weight: 300;
        padding-left: 10px;
        font-size: 12pt;
        outline: none !important;
        width: 70%;
      }

  /**********************/
  /* Overview ***********/
  /**********************/

  #get-started-button {
    padding: 15px 20px;
    margin: auto;
    width: 100%;
    font-family: "Montserrat";
    background-color: #006B99;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
  }

  .overview-step {
    text-align: center;
    color: white;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    margin: auto;
    font-size: 65pt;
    font-family: "Montserrat";
  }

    .overview-step .fa {
      vertical-align: -10%;
    }

  .overview-title {
    font-weight: 500;
    font-size: 12pt;
    margin-top: 15px;
    font-family: "Montserrat";
  }

  .overview-description {
    font-family: "Montserrat";
    font-size: 10pt;
    font-weight: 300;
    margin: auto;
    max-width: 200px;
    min-width: 50px;
    color: #808080;
  }

  /**********************/
  /* Notebook Card ******/
  /**********************/

  .notebook-card {
    border: 1px solid #eaeaea;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 25px;
    -webkit-box-shadow: 3px 3px 1px -1px rgba(0,0,0,0.03);
    -moz-box-shadow: 3px 3px 1px -1px rgba(0,0,0,0.03);
    box-shadow: 3px 3px 1px -1px rgba(0,0,0,0.03);
    font-family: "Montserrat";
    text-align: center;
  }

    .notebook-card-title {
      background-color: #F6F6F6;
      width: 100%;
      padding: 10px 15px;
      color: #808080;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      border-bottom: 1px solid #eaeaea;
    }

    .notebook-card-contents {
      cursor: pointer !important;
      width: 100%;
      height: 185px;
      display: flex;
    }

      .notebook-card-image {
        margin: auto;
        height: 80%;
      }

      .notebook-card-dropup {
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
      }

        .notebook-card-dropup-option {
          width: 100%;
          height: 100%;
          display: flex;
        }

          .notebook-card-dropup-option span {
            margin: auto;
          }

          .notebook-card-dropup-option:last-child {
            border-radius: 0px 0px 5px 5px;
          }

      .notebook-card-contents:hover .notebook-card-dropup {
        display: flex;
      }

      .notebook-card-contents:hover .notebook-card-image {
        display: none;
      }

/**********************/
/* Development */
/**********************/

.under-development {
  text-align: center;
  font-family: "Montserrat";
  font-size: 30pt;
  font-weight: 300;
  margin-top: 50px;
}

/**********************/
/* Stored Notebooks ***/
/**********************/

#stored-notebooks {
}


/**********************/
/* New Notebooks ******/
/**********************/

#new-notebook {
  display: none;
}


/*
#new-notebook {
  display: none;
}

  #new-notebook-row1 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    height: 75px;
    padding: 15px 30px;
  }

    #new-notebook-row1 .col-1 {
      margin: auto;
    }

    #cancel-new-notebook {
      cursor: pointer;
      margin-right: 10px;
      font-size: 15pt;
    }
*/


/**********************/
/* Loading */
/**********************/

.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}