{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-8 large mt-5 pl-4">Add Analysis Tools</div>
		<div class="col-4 text-right mt-5">
			<button class="btn btn-primary black border-black bg-white nodecoration mr-2" onclick="goBack();"><i class="fa fa-angle-left mr-2"></i>Back</button>
			<button class="btn btn-primary navigate black border-black bg-white nodecoration" form="add-tools-form" type="submit" formaction="{{ url_for('configure_analysis') }}" formmethod="post">Continue<i class="fa fa-angle-right ml-2"></i></button>
		</div>
	</div>
	<div class="row">
		<hr width="100%" class="mt-3 mb-0">
		<div class="col-12 px-3 mb-5">
			<form id="add-tools-form">
				<input type="hidden" name="gse" value="{{d.get('gse')}}">
				<input type="hidden" name="gpl" value="{{d.get('gpl')}}">
				{% for section, tools in s.items() %}
					<div class="large medium mt-4">{{section}}</div>
					{% for tool in tools %}
						{{ macros.tool_checkbox(tool) }}
					{% endfor %}
				{% endfor %}
			</form>
		</div>
	</div>
</div>


{% endblock %}