{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block head %}
<title>Notebook Generator | Upload</title>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-8 large mt-5 pl-4">Upload Data</div>
		<div class="col-4 text-right mt-5">
			<button class="btn btn-primary black border-black bg-white nodecoration mr-2" onclick="goBack();"><i class="fa fa-angle-left mr-2"></i>Back</button>
			<button class="btn btn-primary navigate black border-black bg-white nodecoration" form="upload-metadata-form" type="submit" formaction="{{ url_for('upload_table') }}" formmethod="post" disabled="true">Continue<i class="fa fa-angle-right ml-2"></i></button>
		</div>
	</div>
	<div class="row">
		<hr width="100%">
		<div class="col-12 px-4">
			<div class="medium regular mb-3">Annotate Samples</div>
			<div id="intro" class="very-small light mb-3">The uploaded dataset contains <span class="highlight">{{samples|length}} samples</span>. To proceed, annotate the samples by manually specifying the groups, or upload a metadata file. </div>
		</div>
	</div>
	<div id="options" class="row mt-2 px-2">
		<div class="col-6 px-0">
			<table id="sample-annotation-table" class="tiny text-center table-striped border-grey w-100">
				<thead class="very-small">
					<tr class="border-grey border-left-0 border-right-0">
						<th>Sample</th>
						<th class="px-3 py-1">Group</th>
					</tr>
				</thead>
				<tbody>
					{% for sample in samples %}
						<tr>
							<td class="px-3 py-2 bold tiny">{{sample}}</td>
							<td class="px-3 py-2"><input class="form-control nodecoration tiny" type="text" name="{{sample}}-group"></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-1 text-center px-0">
			<span>OR</span>
		</div>
		<div class="col-5 px-0">
			<div class="very-small light mb-2">Upload a metadata file:</div>
			<div id="dropzone" class="dropzone border-grey rounded"></div>
			<form id="upload-metadata-form" action="{{ url_for('upload_table') }}" method="post">
				<input type="hidden" id="expression" name="expression" value="{{f['expression']}}">
				<input type="hidden" id="metadata" name="metadata" value="">
			</form>
			<div class="tiny mt-2">
				Supported formats: <span class="font-italic">.txt, .csv, .tsv, .xls, .xlsx</span>.
				<a href="{{ url_for('static', filename='data/sample.txt') }}" class="btn bg-white border-black black nodecoration tiny regular my-auto float-right" download>Example</a>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div id="preview" class="col-12">
		</div>
	</div>
</div>

{% endblock %}


{% block footer %}

<script type="text/javascript">

$("#dropzone").dropzone({ 
	url: "{{ url_for('upload_metadata_api') }}",
    success: function(file, response){
    	// Parse response
    	response = JSON.parse(response);

    	// Interfaces
        $('button[form="upload-metadata-form"]').prop('disabled', false);
    	$('#options').addClass('hidden');
    	$('#sample-annotation-table').addClass('hidden');
    	$('#preview').removeClass('hidden');
        $('#intro').html('The uploaded metadata file contains <span class="highlight">'+response['columns'].length+' fields</span> and <span class="highlight">'+response['index'].length+' rows</span>. Check that the preview below is correct, then click Continue to proceed.');
    	addPreviewTable(response, false);
    }
});

$('#sample-annotation-table input').change(function(evt) {
	var complete = true;
	$('#sample-annotation-table input').each(function(i, input) {
		if ($(input).val().length === 0) {
			complete = false;
		}
	})
	if (complete) {
		$('button[form="upload-metadata-form"]').prop('disabled', false);
	}
})

$('button[form="upload-metadata-form"]').click(function(evt) {
	var $table = $('table:not(.hidden)'),
		metadata = serializeTable($table);
	$('#metadata').val(JSON.stringify(metadata));
	$('#upload-metadata-form').submit();
})

// $('table').DataTable({
// 	"lengthMenu": [[-1, 10, 25, 50], ["All", 10, 25, 50]],
// });

</script>

{% endblock %}
