{% extends 'base.html' %}

{% block content %}

<button onclick="goBack()">Back</button>
	<form id="configure-signature-form" action="{{ url_for('configure_analysis') }}" method="post">
		<input type="text" name="group_a_label" value="control" class="group_label"> vs <input type="text" name="group_b_label" value="perturbation" class="group_label">
		<table width="1500px;">
			<tr>
				{% for col in j.columns %}
					<th>{{ col }}</th>
				{% endfor %}
				<th>Group</th>
			</tr>
			{% for index, rowData in j.iterrows() %}
				<tr>
					{% for col in j.columns %}
						<td>{{ rowData[col] }}</td>
					{% endfor %}
					<td>
						<select name="{{rowData.gsm}}-group">
							<option selected value="">None</option>
							<option {{'selected' if loop.index < 5 else ''}} value="group_a" class="group_a_label">control</option>
							<option {{'selected' if loop.index >= 5 else ''}} value="group_b" class="group_b_label">perturbation</option>
						</select>
					</td>
				</tr>
			{% endfor %}
		</table>
		{% for key, values in f.lists() %}
			{% for value in values %}
				<input type="hidden" name="{{ key }}" value="{{ value }}">
			{% endfor %}
		{% endfor %}
		<input type="hidden" name="requires_signature" value="False">
		<button type="submit">Continue</button>
	</form>

{% endblock %}