{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-8 step-title">Generate Signature</div>
		<div class="col-4 navigate-col text-right">
			<button class="btn btn-primary navigate-link" onclick="goBack();"><i class="fa fa-angle-left"></i>&nbspBack</button>&nbsp&nbsp
			<button class="btn btn-primary navigate-link" form="dataset-form" type="submit" formaction="{{ url_for('configure_analysis') }}" formmethod="post">Continue&nbsp<i class="fa fa-angle-right"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<form id="configure-signature-form" action="{{ url_for('configure_analysis') }}" method="post">
				<div class="step-subtitle">Name the Groups</div>
				<input type="text" name="group_a_label" value="control" class="group_label" data-group="a">&nbspvs&nbsp<input type="text" name="group_b_label" value="perturbation" class="group_label" data-group="b">
				<div class="step-subtitle">Select the Samples</div>
				<table id="sample-table">
					<thead>
						<tr>
							<th>Group</th>
							{% for col in j.columns %}
								<th>{{ col.title() }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for index, rowData in j.iterrows() %}
							<tr class="sample-row" data-group="none">
								<td>
									<select id="group-select">
										<option value="none"></option>
										<option value="a"></option>
										<option value="b"></option>
									</select>
								</td>
								{% for col in j.columns %}
									<td>{{ rowData[col] }}</td>
								{% endfor %}
								<input type="hidden" name="{{rowData['accession']}}-group" value="none">
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% for key, values in f.lists() %}
					{% for value in values %}
						<input type="hidden" name="{{ key }}" value="{{ value }}">
					{% endfor %}
				{% endfor %}
				<input type="hidden" name="requires_signature" value="False">
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block footer %}

<script type="text/javascript">

	$(document).ready(function(){
	    $('#sample-table').DataTable();
	});

</script>

{% endblock %}
