{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div id="intro-row" class="row">
		<div class="col-6"><img id="notebook-img" src="{{url_for('static', filename='img/notebook.png')}}"></div>
		<div id="text-col" class="col-6 text-center">
			<div id="intro-title">Generate Tailored<br>Bioinformatics Analysis Notebooks</div>
			<div id="intro-description">BioJupies allows to easily generate tailored, reusable analysis notebooks of large biological datasets through a simple user interface</div>
			<div id="get-started"><a href="{{ url_for('analyze') }}">Get Started</a></div>
		</div>
	</div>
</div>

{% endblock %}