{% extends 'base.html' %}

{% block content %}

<button onclick="goBack()">Go Back</button>
Review
	<form id="review-analysis-form" action="{{ url_for('generate_notebook') }}" method="post">
		<input type="text" name="notebook_title" value="Notebook Title">
		{% for key, values in f.lists() %}
			{% for value in values %}
				<input type="hidden" name="{{ key }}" value="{{ value }}">
			{% endfor %}
		{% endfor %}
		<button type="submit">Continue</button>
		<br>
		{% for tool_name, parameters in d.items()%}
		{{ tool_name }}<br>
			{% for parameter_string, parameter_data in parameters.items() %}
				{{ parameter_string }}<br>
				<select>
					{% for values in parameter_data['values'] %}
						<option {{'selected' if values['default'] else ''}}>{{values['value']}}</option>
					{% endfor %}					
				</select>
			{% endfor %}
		{% endfor %}
	</form>
	<br>
	{{d|safe}}

{% endblock %}