{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block head %}
<title>Notebook Generator | Upload</title>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-8 large mt-5 pl-4">Upload Data</div>
		<div class="col-4 text-right mt-5">
			<!-- <button class="btn btn-primary black border-black bg-white nodecoration mr-2" onclick="goBack();"><i class="fa fa-angle-left mr-2"></i>Back</button> -->
			<!-- <button class="btn btn-primary navigate black border-black bg-white nodecoration" form="upload-expression-form" type="submit" formaction="{{ url_for('upload_table') }}" formmethod="post" disabled="true">Continue<i class="fa fa-angle-right ml-2"></i></button> -->
		</div>
	</div>
	<div class="row">
		<hr width="100%">
		<div class="col-12 px-4">
			<div class="medium regular mb-2">Finished</div>
			<div class="tiny regular mb-2">{{f.to_dict()}}</div>
		</div>
	</div>
</div>

{% endblock %}


{% block footer %}

<script type="text/javascript">

$("#dropzone").dropzone({ 
	url: "{{ url_for('upload_table_api') }}",
    success: function(file, response){

    	// Save data
        $('#expression').val(response);

    	// Parse response
    	response = JSON.parse(response);

        // Interfaces
        $('button[form="upload-expression-form"]').prop('disabled', false);
        $('#dropzone').hide();
        $('#formats').hide();
        addPreviewTable(response, true);
        $('#intro').html('The uploaded dataset contains <span class="highlight">'+response['columns'].length+' samples</span> and <span class="highlight">'+response['index'].length+' genes</span>. Check that the preview below is correct, then click Continue to proceed.')
    }
});

</script>

{% endblock %}
