{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block head %}<title>Notebook Generator | Tools</title>{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-8 large mt-5 pl-4">Add Analysis Tools</div>
		<div class="col-4 text-right mt-5">
			<button class="btn btn-primary black border-black-custom bg-white nodecoration mr-2" onclick="goBack();"><i class="fa fa-angle-left mr-2"></i>Back</button>
			<button class="btn btn-primary navigate black border-black-custom bg-white nodecoration" form="add-tools-form" type="submit" formaction="{{ url_for('configure_analysis') }}" formmethod="post">Continue<i class="fa fa-angle-right ml-2"></i></button>
		</div>
	</div>
	<div class="row">
		<hr width="100%" class="mt-3 mb-0">
		<div class="col-12 px-3 mb-5">
			<form id="add-tools-form">

				<!-- Add introduction -->
				<div class="text-justify">
					<div class="mt-3 light">The second step of the notebook generation process is to <b>add computational tools</b> to extract biological knowledge from the data.</div>
					<div class="mt-3 light">The form below can be used to select <b>pre-configured analysis tools</b> to add to the notebook. A default selection of computational tools is provided. For more information on each tool, click on the <i class="fa fa-chevron-down text-muted border-grey rounded-circle px-1 py-1 mx-1"></i> icon on the right of each card.</div>
					<div class="mt-3 light">Click on a tool to add or remove it from the notebook. Once the desired tools have been selected, click <b>Continue</b> to proceed.</div>
					<div class="mt-3 light micro text-muted"><b>Note:</b> Users are welcome to submit their own analysis tools for integration. If you are interested in submitting your tool, please visit the <a href="{{ url_for('contribute') }}">Contribute</a> page. </div>
				</div>

				<!-- Add tool selection -->
				{% for section in sections %}
					<hr align="left" class="mt-4 mb-4" width="100%">
					<div class="medium">{{ section.section_name }}</div>
					<div class="very-small light mt-2">{{ section.section_description }}</div>
					{% for tool in section['tools'] %}
						{{ macros.tool_checkbox(tool) }}
					{% endfor %}
				{% endfor %}

				<!-- Add selected dataset -->
				{% for key, value in selected_data.items() %}
					<input type="hidden" name="{{ key }}" value="{{ value }}">
				{% endfor %}

			</form>
		</div>
	</div>
</div>


{% endblock %}