{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!-- Title -->
{% block title %} BioJupies | Select Tools {% endblock %}

<!-- Content -->
{% block content %}

<div class="px-6">

	<!-- Title -->
	<div class="row pt-4">
		<div class="col-12 very-large text-center light px-5">What analyses would you like to perform?</div>
	</div>

	<!-- Introduction -->
	<hr width="100%" class="my-4">
	<div class="row">
		<div class="light very-small my-1 col-lg-8 col-xl-9 text-justify">
			Use the form below to <span class="bold">add or remove data analysis and visualization tools</span> to your notebook.
			These tools will analyze the selected dataset and embed interactive results in your notebook.
			Once you have selected the desired tools, click <b>Continue</b> to proceed.
		</div>
		<div class="col-lg-4 col-xl-3 my-auto text-center pt-3 pt-lg-0">
			<button class="btn black border-custom bg-white nodecoration mr-2" onclick="goBack();"><i class="fa fa-angle-left mr-2"></i>Back</button>
			<button class="btn navigate white border-custom bg-blue nodecoration" form="add-tools-form" type="submit" formaction="{{ url_for('configure_analysis') }}" formmethod="post">
				Continue<i class="fa fa-angle-right ml-2"></i>
			</button>
		</div>
	</div>

	 <!-- Add Tools Form -->
	 <div class="row">
		<hr width="100%" class="mt-4 mb-2">
		<div class="col-12 px-3 mb-5">
			<form id="add-tools-form">

				<!-- Add tool selection -->
				{% for section in sections %}
					<div class="medium {{ 'mt-3' if loop.index == 1 else 'mt-4' }} pt-2">{{ section.section_name }}</div>
					<div class="very-small light mt-2">{{ section.section_description }}.</div>
					{% for tool in section['tools'] %}
						{{ macros.tool_checkbox(tool, version=version) }}
					{% endfor %}
				{% endfor %}

				<!-- Add selected dataset -->
				{% for key, value in selected_data.items() %}
					<input type="hidden" name="{{ key }}" value="{{ value }}">
				{% endfor %}

			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title medium regular ml-2"></div>
        <button type="button" class="close nodecoration" data-dismiss="modal"><span class="pt-1 pr-2 large">&times;</span></button>
      </div>
      <div class="modal-body text-center">
        <img src="" id="modal-image" class="w-75">
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block footer %}
<script type="text/javascript">

	// Preview
	$(".pop").on('click', function(evt) {
	   $('.modal-title').html($(evt.target).parents('.collapse').prev().find('.col-11 div').eq(1).html()); // here asign the image to the modal when the user click the enlarge link
	   $('#modal-image').attr('src', $(evt.target).attr('src')); // here asign the image to the modal when the user click the enlarge link
	   $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
	});

	// Tool Checkbox Listener
	$('.tool-checkbox').click(function(evt) {
		evt.stopPropagation();
		$(evt.target).parents('.card-options').find('.fa').first().toggleClass('fa-plus fa-minus');
		$(evt.target).parents('.card-options').find('span').first().html($(evt.target).parents('.card-options').find('span').first().html().replace('Add', 'Add1').replace('Remove', 'Add').replace('Add1', 'Remove'));
		$(evt.target).parents('.card-options').find('button span').first().toggleClass('white text-muted');
	})

	// Fix fonts
	$('input:checked').each(function(index, elem) { $(elem).parent().find('button span').last().addClass('white') });

</script>
{% endblock %}