{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block head %}
	<title>BioJupies | Analyze</title>
	<style type="text/css">html{height: 100%;}body{height: 100%; overflow: hidden;}#outer-container{height: 100%;}</style>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-12 text-center very-large mt-4 mb-1">What data would you like to analyze?</div>
	<hr width="100%" class="my-4">
</div>
<div class="row mt-5 px-3">
	{% for option in options %}
		{{ macros.option_col(option, options|length) }}
	{% endfor %}
</div>

{% endblock %}