{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block head %}<title>Notebook Generator | Signature</title>{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-8 large mt-5 pl-4">Generate Signature</div>
		<div class="col-4 text-right mt-5">
			<button class="btn btn-primary black border-black-custom bg-white nodecoration mr-2" onclick="goBack();"><i class="fa fa-angle-left mr-2"></i>Back</button>
			<button class="btn btn-primary navigate black border-black-custom bg-white nodecoration" form="configure-signature-form" type="submit" formaction="{{ url_for('configure_analysis') }}" formmethod="post">Continue<i class="fa fa-angle-right ml-2"></i></button>
		</div>
	</div>
	<div class="row">
		<hr width="100%">
		<div class="col-12 px-4">
			<form id="configure-signature-form">

				<!-- Add introduction -->
				<div class="text-justify">
					<div class="mt-2 light"><b>Gene expression signatures</b> are alterations in the patterns of gene expression that occur as a result of cellular perturbations such as drug treatments, gene knock-downs or diseases.</div>
					<div class="mt-3 light">They can be used to identify <b>differentially expressed genes</b> and <b>biological processes</b> (such as signaling, transcriptional or metabolic pathways) which are altered as a result of such perturbations.</div>
					<div class="mt-3 light">One or more of the selected tools requires a signature as an input. To generate one, define <b>two groups of samples</b> using the instructions below. </div>
					<hr width="100%" class="my-4">
				</div>

				<!-- Name Groups -->
				<div class="medium regular mb-2">Define Sample Groups</div>
				<div class="very-small light mb-3">First, <b>name the conditions</b> you wish to compare using the input boxes below.</div>
				<div class="row">

					<!-- Group Labels -->
					<div class="col-6 pl-4">
						<input type="text" name="group_a_label" class="group-label-input mr-2 rounded border-grey px-2 py-1 light very-small nodecoration" data-group="a" value="Control" maxlength="50">vs
						<input type="text" name="group_b_label" class="group-label-input ml-2 rounded border-grey px-2 py-1 light very-small nodecoration" data-group="b" value="Perturbation" maxlength="50">
						<input type="hidden" value="Select..." class="group-label-input" data-group="none" maxlength="50">
					</div>

					<!-- Group Prediction -->
					<div class="col-5 my-auto">
						<div class="d-table">
							<div class="d-table-cell">
								<div class="onoffswitch">
								    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="predict-groups" checked>
								    <label class="onoffswitch-label" for="predict-groups"></label>
								</div>
							</div>
							<div class="d-table-cell pl-2 very-small regular">
								Predict Groups <sup><i class="fa fa-question-circle" data-toggle="tooltip" title="Automatically predicts the samples belonging to each group based on the assigned names."></i></sup>
							</div>
						</div>
					</div>
				</div>
				<div class="tiny text-secondary mt-4 mb-3"><b>Example</b>: <span class="font-italic">WT, DMSO, Vehicle</span> for the <b>Control</b> group; <span class="font-italic">Metastatic, p53 KO, Dasatinib-6h</span> for the <b>Perturbation</b> group.</div>

				<!-- Sample Selection -->
				<div class="very-small light mb-4 mt-3 text-justify">Second, <b>select the samples</b> you wish to assign to the groups using the dropdown menus below. In order to improve the statistical validity of the results, groups are required to contain <span class="font-italic">at least three samples</span>.</div>

				<!-- Sample Table -->
				<table id="sample-table" class="stripe mb-5">
					<thead>
						<tr>
							<th class="text-center very-small regular">Group</th>
							{% for col in j.columns %}
								<th class="text-center very-small regular">{{ col.title() }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for index, rowData in j.iterrows() %}
							<tr class="sample-row very-small light text-center px-2 py-1" data-group="none">
								<td>
									<div class="dropdown group-dropdown">
										<button class="btn btn-secondary dropdown-toggle black border-black nodecoration regular very-small pr-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-group="none">Select...</button>
										<div class="dropdown-menu">
											<span class="dropdown-item" data-dropdown-group="a"><div class="dropdown-square border-grey rounded cursor-pointer"></div><span class="bg-transparent cursor-pointer" data-group="a">Control</span></span>
											<span class="dropdown-item" data-dropdown-group="b"><div class="dropdown-square border-grey rounded cursor-pointer"></div><span class="bg-transparent cursor-pointer" data-group="b">Perturbation</span></span>
											<span class="dropdown-item" data-dropdown-group="none"><div class="dropdown-square border-grey rounded cursor-pointer"></div><span class="bg-transparent cursor-pointer" data-group="none">None</span></span>
										</div>
										<input type="hidden" name="{{rowData.get('accession') if rowData.get('accession') else rowData.get('sample') }}-group" value="none">
									</div>
								</td>
								{% for col in j.columns %}
									<td>{{ rowData[col] }}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% for key, values in f.lists() %}
					{% for value in values %}
						<input type="hidden" name="{{ key }}" value="{{ value }}">
					{% endfor %}
				{% endfor %}
				<input type="hidden" name="requires_signature" value="False">
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block footer %}

<script type="text/javascript">

	$(document).ready(function(){

		// Data Table
	    $('#sample-table').DataTable({
	    	"lengthMenu": [[-1, 10, 25, 50], ["All", 10, 25, 50]],
	    	  "columnDefs": [
				{ "orderable": false, "targets": 0 },
				{ "searchable": false, "targets": 0 },
			  ]
	    });

	    // Manual Class Selection
	    $('.dropdown-item').click(function(evt) {
	    	var $item = $(evt.target).hasClass('dropdown-item') ? $(evt.target) : $(evt.target).parents('.dropdown-item'),
	    		new_group = $item.data('dropdown-group'),
	    		new_label = $('.group-label-input[data-group="'+new_group+'"]').val();
    		$(evt.target).parents('.dropdown').find('button').html(new_label+'&nbsp').attr('data-group', new_group);
    		$(evt.target).parents('.dropdown').find('input').val(new_group);
    		$(evt.target).parents('tr').attr('data-group', new_group);
	    })

	    // Automated Class Selection
	    function autoSelect(group, value) {
	    	var hit = false;
	    	if (value.length > 0) {
		    	$('#sample-table tr').each(function(index, row) {
		    		if ($(row).find('td:not(:first-child)').text().toLowerCase().indexOf(value.toLowerCase()) > -1) {
		    			$(row).find('[data-dropdown-group="'+group+'"]').click();
		    			hit = true;
		    		} else {
		    			if (group == $(row).find('.dropdown-toggle').attr('data-group')) {
			    			$(row).find('[data-dropdown-group="none"]').click();
		    			}
		    		}
		    	})
	    	}
	    	return hit
	    }

	    $('.group-label-input').change(function(evt) {
	    	var value = $(evt.target).val(),
	    		group = $(evt.target).data('group');
	    	$('[data-group="'+group+'"]:not(tr)').text(value);
	    	if ($('#predict-groups').prop('checked')) {
		    	autoSelect(group, value);
	    	}
	    })

	    // Predict Control Classes
	    var hit, terms=['Control', 'Ctl', 'Ctrl', 'Untreated', 'Vehicle', 'Normal', 'Non-specific', 'DMSO', 'WT'];
	    for (i = 0; i < terms.length; i++) {
	    	hit = autoSelect('a', terms[i]);
	    	if (hit) { 
	    		$('input[name="group_a_label"]').val(terms[i]);
	    		$('[data-group="a"]:not(tr)').text(terms[i]);
	    		break
	    	}
	    }

	    // Remove Predicted Groups
	    $('#predict-groups').change(function(evt) {
	    	if (!$('#predict-groups').prop('checked')) {
	    		$('[data-dropdown-group="none"]').click();
	    	} else {
	    		autoSelect('a', $('[name="group_a_label"]').val());
	    		autoSelect('b', $('[name="group_b_label"]').val());
	    	}
	    })

	    // Check Group Size on Submission
	    $('#configure-signature-form').submit(function(evt) {
	    	var a_samples = $('#sample-table button[data-group="a"]').length,
	    		b_samples = $('#sample-table button[data-group="b"]').length;
	    	if (a_samples < 3) {
		    	evt.preventDefault();
		    	alert('Please add more samples to the '+$('[name="group_a_label"]').val()+' group.\n\nGroups are required to contain at least 3 samples. However, the group has '+a_samples+'.')
	    	} else if (b_samples < 3) {
		    	evt.preventDefault();
		    	alert('Please add more samples to the '+$('[name="group_b_label"]').val()+' group.\n\nGroups are required to contain at least 3 samples. However, the group has '+b_samples+'.')

	    	}
	    })

	});

</script>

{% endblock %}
