{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block head %}<title>Notebook Generator | Review</title>{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-8 large mt-5 pl-4">Review and Submit</div>
		<div class="col-4 text-right mt-5">
			<button class="btn btn-primary black border-black bg-white nodecoration mr-2" onclick="goBack();"><i class="fa fa-angle-left mr-2"></i>Back</button>
			<button class="btn btn-primary navigate black border-black bg-white nodecoration" form="review-analysis-form" type="submit" formaction="{{ url_for('generate_notebook') }}" formmethod="post">Continue<i class="fa fa-angle-right ml-2"></i></button>
		</div>
	</div>
	<div class="row">
		<hr width="100%" class="mt-3 mb-0">
		<div class="col-12">
			<form id="review-analysis-form" action="{{ url_for('generate_notebook') }}" method="post">
				<!-- Notebook Settings -->
				{{ macros.notebook_settings(f['gse'], f.get('group_a_label'), f.get('group_b_label')) }}

				<!-- Tool Settings -->
				{% for tool in t %}
					{% if tool.parameters|length %}				
						{{ macros.parameter_card(tool) }}
					{% endif %}				
				{% endfor %}

				<!-- Form -->
				{% for key, values in f.lists() %}
					{% for value in values %}
						<input type="hidden" name="{{ key }}" value="{{ value }}">
					{% endfor %}
				{% endfor %}
			</form>
		</div>
	</div>
</div>

{% endblock %}