{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block head %}
	<link href="{{ url_for('static', filename='css/nouislider.min.css') }}" rel="stylesheet">
	<title>Notebook Generator | Datasets</title>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-8 large mt-5 pl-4">Search Datasets</div>
		<div class="col-4 text-right mt-5">
			<a class="btn btn-primary black border-black bg-white nodecoration mr-2" href="{{ url_for('analyze') }}"><i class="fa fa-angle-left mr-2"></i>Back</a>
			<button class="btn btn-primary navigate black border-black bg-white nodecoration" form="dataset-form" type="submit" formaction="{{ url_for('add_tools') }}" formmethod="post">Continue<i class="fa fa-angle-right ml-2"></i></button>
		</div>
	</div>
	<div class="row">
		<hr width="100%" class="my-3">
		<div class="col-12">
			<form id="dataset-search-form">
				<div class="border-custom rounded mt-4 mb-3">
					<input type="text" name="q" value="{{ q }}" class="border-0 w-75 nodecoration px-3 py-2 small light">
					<button type="submit" class="border-0 px-1 py-2 float-right bg-transparent cursor-pointer nodecoration"><i class="fa fa-search text-muted mr-2 medium mt-1"></i></button>
				</div>
				<div class="text-secondary form-inline mt-3 mb-3">
					<label class="very-small ml-2 mr-4 pr-4 light font-italic mt-1 border-grey border-top-0 border-bottom-0 border-left-0">Displaying {{nr_results_displayed}} of {{nr_results}} results</label>
					<label class="tiny regular mr-3" for="samples">Samples:</label>
					<div id="slider" class="ml-2"></div>
					<input type="hidden" id="min-samples" name="min_samples" value="{{ min_samples }}">
					<input type="hidden" id="max-samples" name="max_samples" value="{{ max_samples }}">
					<label class="tiny regular ml-5 mr-2" for="sortby">Organism:</label>
					<select class="form-control nodecoration tiny" id="organism" name="organism">
						<option value="all" {{'selected' if organism == 'all' else ''}}>All</option>
						<option value="human" {{'selected' if organism == 'human' else ''}}>Human</option>
						<option value="mouse" {{'selected' if organism == 'mouse' else ''}}>Mouse</option>
					</select>
					<label class="tiny regular ml-5 mr-2" for="sortby">Sort by:</label>
					<select class="form-control nodecoration tiny" id="sortby" name="sortby">
						<option value="new" {{'selected' if sortby == 'new' else ''}}>Newest</option>
						<option value="desc" {{'selected' if sortby == 'desc' else ''}}>Samples (descending)</option>
						<option value="asc" {{'selected' if sortby == 'asc' else ''}}>Samples (ascending)</option>
					</select>
				</div>
			</form>
		</div>
	</div>
	{% if d %}
	<div class="row">
		<div class="col-12 mx-1 mb-4">
			<form id="dataset-form">
				{% for dataset in d %}				
					{{ macros.dataset_radio(dataset, loop.index) }}
				{% endfor %}		
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-12 px-4 mb-5">
			<div class="light float-left d-table light">
				<a href="{{ url_for('search_data', q=q, min_samples=min_samples, max_samples=max_samples, sortby=sortby, organism=organism, page=1) }}" class="nodecoration black border-grey px-2 py-1 border-right-0 d-table-cell rounded-left"> << </a>
				<a href="{{ url_for('search_data', q=q, min_samples=min_samples, max_samples=max_samples, sortby=sortby, organism=organism, page=page-1 if page-1 > 1 else 1) }}" class="nodecoration black border-grey px-2 py-1 border-right-0 d-table-cell"> < </a>
				{% for page_nr in pages %}
				<a href="{{ url_for('search_data', q=q, min_samples=min_samples, max_samples=max_samples, sortby=sortby, organism=organism, page=page_nr) }}" class="nodecoration border-grey px-2 py-1 border-right-0 d-table-cell {{ 'bg-blue white regular' if page_nr == page else 'black' }}">{{page_nr}}</a>
				{% endfor %}
				<a href="{{ url_for('search_data', q=q, min_samples=min_samples, max_samples=max_samples, sortby=sortby, organism=organism, page=page+1 if page+1 < nr_pages else nr_pages) }}" class="nodecoration black border-grey px-2 py-1 border-right-0 d-table-cell"> > </a>
				<a href="{{ url_for('search_data', q=q, min_samples=min_samples, max_samples=max_samples, sortby=sortby, organism=organism, page=nr_pages) }}" class="nodecoration black border-grey px-2 py-1 d-table-cell rounded-right"> >> </a>
			</div>
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}


{% block footer %}
<script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wNumb.js') }}"></script>

<script type="text/javascript">
	var slider = noUiSlider.create(document.getElementById('slider'), {
		start: [ {{ min_samples }}, {{ max_samples }} ], // 4 handles, starting at...
		margin: 1, // Handles must be at least 300 apart
		connect: true, // Display a colored bar between the handles
		orientation: 'horizontal', // Orient the slider vertically
		behaviour: 'tap-drag', // Move handle on tap, bar is draggable
		step: 1,
		format: wNumb({
			decimals: 0
		}),
		tooltips: true,
		range: {
			'min': 6,
			'max': 70
		},
		pips: { // Show a scale with the slider
			mode: 'values',
			values: [6, 35, 70],
			density: 10
		}
	})
	
	$('.noUi-value').last().html($('.noUi-value').last().html()+'+');

	slider.on('change', function(range) {
		$('#min-samples').val(range[0]);
		$('#max-samples').val(range[1]);
	})

	{% if request.args.get('min_samples') %}
		slider.set([{{request.args.get('min_samples')}}, {{request.args.get('max_samples')}}])
	{% endif %}
</script>
{% endblock %}