{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!-- Title -->
{% block title %} BioJupies | Contribute a Plugin {% endblock %}

<!-- Head -->
{% block head %}
	<style type="text/css">html{height: 100%;}body{height: 100%; overflow: hidden;}#outer-container{height: 100%;}</style>
{% endblock %}

<!-- Content -->
{% block content %}

<div class="px-6">

	<!-- Title -->
	<div class="row pt-4">
		<div class="col-12 very-large text-center light">Contribute a Plugin</div>
	</div>

	<!-- Introduction -->
<!-- 	<hr width="100%" class="my-4">
	<div class="row">
		<div class="light very-small my-1 col-lg-10 text-justify">
			Use the form below to <span class="bold">add or remove data analysis and visualization tools</span> to your notebook.
			These tools will analyze the selected dataset and embed interactive results in your notebook.
			Once you have selected the desired tools, click <b>Continue</b> to proceed.
		</div>
		<div class="col-lg-2 my-auto text-center pt-3 pt-lg-0">
			<button class="btn navigate white border-custom bg-blue nodecoration" form="add-tools-form" type="submit" formaction="{{ url_for('configure_analysis') }}" formmethod="post">
				Submit Plugin
			</button>
		</div>
	</div>
 -->
	<!-- Contribute Plugin Form -->
	<div class="row">
		<hr width="100%" class="mt-3 mb-0">
		<div class="col-12 px-4 pt-4 very-small">
			<div class="mb-3 medium bold text-center">Note: this page is still under development.</div>
			<!-- <div class="mb-3">Contribute your computational tool as a plugin to BioJupies.</div> -->
			<div class="github-card" data-user="denis-torre" data-repo="biojupies-plugin-template" data-target="blank" data-theme="default"></div>
			<form id="contribute-form" action="{{ url_for('contribute') }}" method="post">

			</form>

		</div>
	</div>
</div>

{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='js/card.js') }}"></script>
<script src="{{ url_for('static', filename='js/github-cards.js') }}"></script>
<script type="text/javascript">

$('#contribute-form').submit(function(evt) {
	if ($('[name="file-txt"]').val().length) {
	} else {
		evt.preventDefault();
		alert('Please upload a script file using the form below.')
	}
})

</script>
{% endblock %}