{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!-- Title -->
{% block title %} BioJupies | Tutorial {% endblock %}

<!-- Head -->
{% block head %}
	<style type="text/css">html{height: 100%;}body{height: 100%; overflow: hidden;}#outer-container{height: 100%;}</style>
{% endblock %}

<!-- Content -->
{% block content %}

<div class="px-6">
	<div class="row">
		<div class="col-8 large mt-4 pl-4">BioJupies Tutorial</sup></div>
	</div>
	<div class="row">
		<hr width="100%" class="mt-3 mb-0">
		<div class="col-12 px-4 pt-4 very-small">
			<div class="mb-2 medium bold text-center">This page is currently under development.</div>
		</div>
	</div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}