{% extends 'base.html' %}

<!-- Title -->
{% block title %} BioJupies | 500 Error {% endblock %}

<!-- Content -->
{% block content %}

	<!-- Carousel Row -->
	<div class="row py-3 px-6">
		<div class="col-12 text-center">
			<div class="large light mt-5 pt-5">Sorry, there has been an error.</div>
			<div class="medium light mt-5">The error has been logged and the developers were notified.</div>
			<!-- <div class="medium light mt-3 pt-5 px-6 mx-xl-5">If you wish to resolve this, please <a class="nodecoration" href="mailto:avi.maayan@mssm.edu,denis.torre@mssm.edu?Subject=BioJupies%20Server%20Error&Body=Hello,%0AI am writing to request assistance for a BioJupies server error which took place on {{ now.strftime('%B %d, %Y') }} at {{ now.strftime('%H:%M') }} UTC.%0AThank you,%0A ">contact us</a> with a brief description of the context - we will get back to you shortly.</div> -->
		</div>
	</div>

{% endblock %}
