{% extends 'base.html' %}

<!-- Title -->
{% block title %} BioJupies | 500 Error {% endblock %}

<!-- Content -->
{% block content %}

	<!-- Carousel Row -->
	<div class="row py-3 px-6">
		<div class="col-12 text-center">
			<div class="large light mt-5 pt-5">Sorry, there has been an error.</div>
			<div class="medium light mt-5">The error has been logged, and the developers were notified.</div>
			<div class="small light mt-2 pt-5 px-6 mx-xl-5">For more information on resolving the issue, feel free to <a class="nodecoration" href="mailto:avi.maayan@mssm.edu,denis.torre@mssm.edu?Subject=BioJupies%20Error&Body=Hello,%0AI am writing to request assistance for a BioJupies error which took place on {{ now.strftime('%B %d, %Y') }} at {{ now.strftime('%H:%M') }} UTC.%0AThank you,%0A ">contact us</a>.</div>
		</div>
	</div>

{% endblock %}
