/********************************/
/********** Stylesheet **********/
/********************************/

body {
	font-family: "Helvetica" !important;
	font-weight: 300 !important;
}

.hidden {
	display: none;
}