/********************************/
/********** Stylesheet **********/
/********************************/

body {
	font-family: "Nunito" !important;
	font-weight: 300 !important;
	/*background-color: rgba(238, 238, 238, 1);*/
}

#outer-container {
	background-color: white;
	max-width: 1200px !important;
}

	#inner-container {
		width: 1100px !important;
	}

.hidden {
	display: none;
}


/* Styles */
	/*color: rgba(96, 140, 190, 1) !important;*/
	/*color: rgba(0, 111, 235, 1) !important;*/
	/*color: rgba(0, 122, 231, 1) !important;*/
.blue { color: rgba(0, 106, 230, 1) !important; }
.grey { color: rgba(0,0,0,.5) !important; }
.black { color: rgba(0,0,0,1) !important; }

/* Font Weight */
.light { font-weight: 200; }
.regular { font-weight: 300; }
.bold {	font-weight: 400;}

/* Font size */
.very-large { font-size: 27pt;}
.large { font-size: 23pt;}
.medium { font-size: 17pt !important;}
.small { font-size: 15pt;}
.very-small { font-size: 12pt;}
.tiny { font-size: 11pt;}

/* Borders */
.border-black { border: 1px solid black !important;}
.border-grey { border: 1px solid #c9c9c9; }
.border-custom { border: 1px solid #c9c9c9; border-bottom: 2px solid #d5d5d5; }
.border-black-custom { border: 1px solid black; border-bottom: 2px solid #8a8a8a; }

/* Decoration */
.cursor-pointer { cursor: pointer; }
.nodecoration { text-decoration: none !important; outline: none !important; box-shadow: none !important; }
.bg-transparent { background-color: transparent; }
.highlight { font-weight: 500; font-style: italic; color: #525dff; }

/********************************/
/***** INDEX ********************/
/********************************/

/********************************/
/***** SHARED *******************/
/********************************/

input:checked + .object-label {
	background-color: #007bff;
	color: white;
}

input:checked + .object-label span {
	color: white;
}

/********************************/
/***** noUI Slider **************/
/********************************/

#slider {
	width: 150px;
}

.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}
.noUi-handle {
	width: 20px !important;
	outline: none !important;
	right: -10px !important;
	cursor: pointer;
}
	.noUi-handle::before { left: 6px; }
	.noUi-handle::after { left: 10px; }

.noUi-pips {
	font-size: 8pt;
}

.noUi-marker-horizontal.noUi-marker-large {
	height: 5px;
}

.noUi-marker-horizontal.noUi-marker.noUi-marker-normal {
	height: 3px;
}

.noUi-connect {
	background: #525dff;
}

/********************************/
/***** Configure Signature ******/
/********************************/

#sample-table_length, #sample-table_info, #sample-table_paginate { display: none; }
#sample-table_filter { float: left; }

#sample-table_filter input {
	border: 1px solid #c9c9c9;
	border-radius: 3px;
	outline: none !important;
	box-shadow: none !important;
	font-size: 11pt;
	padding: 5px 7px;
	font-weight: 300;
}
/**/

	.group-label-input {
		font-family: "Helvetica Neue";
		font-weight: 300;
		outline: none;
		border: 1px solid #c2c2c2;
		padding: 5px 15px;
		font-size: 15pt;
		border-radius: 5px;
		min-width: 300px;
		max-width: 500px;
	}

#sample-table {
	border-bottom: none;
}

	#sample-table th {
		text-align: center;
		font-family: "Helvetica Neue";
		font-weight: 400;
		font-size: 15pt;
		padding: 5px 20px;
		/*background-color: #eaeaea;*/
		color: black;
		border-collapse: collapse;
		border-top: 1px solid #c2c2c2;
		border-bottom: 1px solid #c2c2c2;
	}

	#sample-table tr {
		text-align: center;
		font-size: 14pt;
		padding-top: 30px;
	}

	#sample-table_wrapper {
		margin-top: 20px;
		margin-bottom: 30px;
		overflow-x: auto;
	}

		#sample-table_length {
			font-size: 15pt;
			width: 70%;
		}

		#sample-table_filter {
			font-size: 15pt;			
		}

			#sample-table_filter input {
				border: 1px solid #c2c2c2;
				border-radius: 3px;
				font-family: "Helvetica Neue";
				font-weight: 300;
				padding: 5px 10px;
				box-shadow: none !important;
				outline: none !important;
			}

.group-dropdown {
}

	.group-dropdown button {
		border: 1px solid black;
		color: black !important;
		width: 100%;
		height: 50px;
		outline: none !important;
		box-shadow: none !important;
		font-size: 14pt;
		font-family: "Helvetica Neue";
		font-weight: 300;
	}

		.group-dropdown button:hover {
			background-color: white;
		}

	.group-dropdown .dropdown-menu {
		border: 1px solid #c2c2c2 !important;
		border-radius: 0px;
		padding: 0px;
		padding-top: 1px;
		margin-top: 0px;
	}

		.group-dropdown .dropdown-item {
			border-left: 1px solid #c2c2c2 !important;
			font-family: "Helvetica Neue";
			font-weight: 300;
			font-size: 14pt;
			cursor: pointer;
			width: 99%;
			padding: 10px 20px;
			color: black !important;
			background-color: white;
		}

	.group-dropdown .fa-square-full { border: 1px solid black; padding: 0px; font-size: 17pt; margin-right: 5px;}
	.group-dropdown [data-dropdown-group="none"] .fa-square-full { color: white; }
	.group-dropdown [data-dropdown-group="a"] .fa-square-full { color: #E5FAFA; }
	.group-dropdown [data-dropdown-group="b"] .fa-square-full { color: #FFAAAA; }

	[data-group="a"] { background-color: #E5FAFA !important; }
	[data-group="b"] { background-color: #FFAAAA !important; }
	[data-group="none"] { background-color: white; }

	.dropdown-toggle[data-group="a"] + .dropdown-menu .dropdown-item[data-dropdown-group="a"] { display: none; }
	.dropdown-toggle[data-group="b"] + .dropdown-menu .dropdown-item[data-dropdown-group="b"] { display: none; }
	.dropdown-toggle[data-group="none"] + .dropdown-menu .dropdown-item[data-dropdown-group="none"] { display: none; }

	.group-description-label {
		padding: 3px 5px;
		border-radius: 3px;
		border: 1px solid #eaeaea;
	}

	.nostyle {
		background-color: white !important;
	}

	#sample-table_info {
		display: none;
	}

	#sample-table_paginate {
		display: none;
	}
