/********************************/
/********** Stylesheet **********/
/********************************/

body {
	font-family: "Helvetica" !important;
	font-weight: 300 !important;
}

.hidden {
	display: none;
}

/********************************/
/***** Configure Signature ******/
/********************************/

.sample-row {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

	[data-group="a"] {
		background-color: #E5FAFA;
	}

	[data-group="b"] {
		background-color: #FFAAAA;
	}