{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!-- Title -->
{% block title %} BioJupies | Select Tools {% endblock %}

<!-- Content -->
{% block content %}

<div class="px-6">

	<!-- Title -->
	<div class="row pt-4">
		<div class="col-12 very-large text-center light px-5">Which samples would you like to compare?</div>
	</div>

	<!-- Introduction -->
	<hr width="100%" class="my-4">
	<div class="row">
		<div class="light very-small my-1 col-lg-8 col-xl-9 text-justify">
			Select samples from GTEx dataset.
		</div>
		<div class="col-lg-4 col-xl-3 my-auto text-center pt-3 pt-lg-0">
			<button class="btn black border-custom bg-white nodecoration mr-2" onclick="goBack();"><i class="fa fa-angle-left mr-2"></i>Back</button>
			<button class="btn navigate white border-custom bg-blue nodecoration" form="" type="submit" formaction="{{ url_for('configure_analysis') }}" formmethod="post">
				Continue<i class="fa fa-angle-right ml-2"></i>
			</button>
		</div>
	</div>

	 <!-- Add Tools Form -->
	 <div class="row">
		<hr width="100%" class="mt-4 mb-2">
		<div class="col-12 px-3 mb-5">

            <div class="row">
                {% for i in range(2) %}
                    <div class="col-6">
                        <div class='medium text-center my-3'>Select samples for Group {{ loop.index }}</div>
                        {{ gtex_dataframe.to_html(index=False, classes='gtex-table micro', table_id='sample-group-'+(loop.index|string)) | safe }}
                    </div>
                {% endfor %}
            </div>


		</div>
	</div>
</div>

{% endblock %}


{% block footer %}
<script type="text/javascript">

    // Data Table
    $(document).ready(function () {
        $('.gtex-table').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
    });


</script>
{% endblock %}