<!DOCTYPE html>
<html style="overflow: hidden; height: 100%;">
<head>
	 {% import 'macros.html' as macros %}
	<title>{{title}}</title>
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	 {{ macros.analytics() }}
</head>
<body style="width: 100%; height: 100%;">
	<iframe src="{{nbviewer_url}}" style="width: 99%; height: 100%; border: none;"></iframe>
	{% if not https %}
		<script type="text/javascript">if ((location.protocol === 'https:') && (location.hostname != 'localhost')) { location.href = 'http:' + window.location.href.substring(window.location.protocol.length); }</script>	
	{% endif %}
</body>
</html>