{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!-- Title -->
{% block title %} BioJupies | Get Started {% endblock %}

<!-- Head -->
{% block head %}
{% endblock %}

<!-- Content -->
{% block content %}

<div class="px-6 my-5 pb-5">

	<!-- Intro Text -->
	<div class="row">
		<div class="col-12 text-center very-large light mb-5">
			<div>Select an RNA-seq Data Repository</div>
		</div>
	</div>

	<!-- Options -->
	<div class="row px-xl-5 px-lg-3">
		{% for option in options %}
			{{ macros.option_col(option, colsize='col-lg-6') }}
		{% endfor %}
	</div>

</div>

{% endblock %}