{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!-- Title -->
{% block title %} BioJupies | Search Datasets {% endblock %}

<!-- Head -->
{% block head %}
	<link href="{{ url_for('static', filename='css/nouislider.min.css') }}" rel="stylesheet">
{% endblock %}

<!-- Content -->
{% block content %}

<div class="px-6">

	<!-- Title -->
	<div class="row pt-4">
		<div class="col-12 very-large text-center light">Which dataset would you like to analyze?</div>
	</div>

	<!-- Introduction -->
	<hr width="100%" class="my-4">
	<div class="light very-small my-1">
		Use the form below to <span class="bold">search {{ "{:,d}".format(dataset_nr) }} publicly available datasets</span> published in the <a href="https://www.ncbi.nlm.nih.gov/geo/" class="nodecoration" target="_blank">Gene Expression Omnibus</a> database and processed by <a href="https://amp.pharm.mssm.edu/archs4/" target="_blank">ARCHS4</a>.
		<!-- Once you have identified a dataset you wish to analyze, click <b>Analyze</b> to continue. -->
		<!-- Click on <b>More Info</b> to access additional information about the data. -->
	</div>

	<!-- Dataset Search Form -->
	<div class="row">
		<hr width="100%" class="my-4">
		<div class="col-12">
			<form id="dataset-search-form">

				<!-- Search bar -->
				<div class="border-custom rounded mt-2 mb-0">
					<input type="text" name="q" value="{{ q }}" class="border-0 w-75 nodecoration px-3 py-1 very-small light" placeholder="Search for genes, diseases, small molecules...">
					<button type="submit" class="border-0 px-1 py-2 float-right bg-transparent cursor-pointer nodecoration"><i class="fa fa-search text-muted mr-2 small"></i></button>
				</div>

				<!-- Search Options -->
				<div class="text-secondary">

					<!-- Number of results -->
					<div class="d-inline-block">
						<label class="tiny ml-2 light font-italic pt-3 pt-xl-1">
							{% if nr_results %}
									Displaying {{nr_results_displayed*(page-1)+1}}-{{nr_results_displayed*(page)}} of {{nr_results}} results
							{% else %}
									Displaying 0 of 0 results
							{% endif %}
						</label>
					</div>

					<!-- Separator -->
					<div class="d-none d-xl-inline-block border-grey border-top-0 border-bottom-0 border-left-0 mx-3">&nbsp</div>

					<!-- Filters -->
					<nav id="filters" class="navbar navbar-expand-xl d-block d-xl-inline-block m-0 p-0">

				        <!-- Toggler -->
				        <button class="navbar-toggler nodecoration pl-0" type="button" data-toggle="collapse" data-target="#filterNavDropdown" aria-controls="filterNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				          <div class="tiny border-custom px-2 py-2 rounded">Filters<i class="fa fa-caret-down ml-1"></i></div>
				        </button>

				        <!-- Collapsible -->
				        <div class="collapse navbar-collapse" id="filterNavDropdown">

							<!-- Organism Filter -->
							<div class="d-block d-lg-inline-block ml-3 my-4">
								<label class="tiny regular d-inline-block" for="sortby">Organism<sup><i class="fa fa-question-circle ml-1" data-toggle="tooltip" title="The organism from which the RNA-seq samples were generated."></i></sup>:
								</label>
								<select class="form-control w-auto d-inline-block nodecoration tiny" id="organism" name="organism">
									<option value="all" {{'selected' if organism == 'all' else ''}}>All</option>
									<option value="human" {{'selected' if organism == 'human' else ''}}>Human</option>
									<option value="mouse" {{'selected' if organism == 'mouse' else ''}}>Mouse</option>
								</select>
							</div>

							<!-- Sort By -->
							<div class="d-block d-lg-inline-block ml-3 ml-xl-5 my-4">
								<label class="tiny regular d-inline-block" for="sortby">
									Sort by<sup><i class="fa fa-question-circle ml-1" data-toggle="tooltip" title="Sorting method used to display the search results."></i></sup>:
								</label>
								<select class="form-control w-auto d-inline-block nodecoration tiny" id="sortby" name="sortby">
									<option value="new" {{'selected' if sortby == 'new' else ''}}>Newest</option>
									<option value="desc" {{'selected' if sortby == 'desc' else ''}}>Samples (descending)</option>
									<option value="asc" {{'selected' if sortby == 'asc' else ''}}>Samples (ascending)</option>
								</select>
							</div>

							<!-- Samples Filter -->
							<div class="d-block d-lg-inline-block ml-3 ml-xl-5 my-4">
								<label class="tiny regular d-inline-block" for="samples">
									Samples<sup><i class="fa fa-question-circle ml-1" data-toggle="tooltip" title="The number of RNA-seq samples contained in the dataset."></i></sup>:
								</label>
								<div id="slider" class="ml-2 d-inline-block"></div>
								<input type="hidden" id="min-samples" name="min_samples" value="{{ min_samples }}">
								<input type="hidden" id="max-samples" name="max_samples" value="{{ max_samples }}">
							</div>
						
						</div>

					</nav>

				</div>
			</form>
		</div>
	</div>

	<!-- Display Datasets -->
	{% if datasets %}
	<div class="row">
		<div class="col-12 mx-1 mb-4">
			{% for dataset in datasets %}				
				{{ macros.dataset_radio(dataset, loop.index) }}
			{% endfor %}		
		</div>
	</div>

	<!-- Page Navigation -->
	<div class="row">
		<div class="col-12 px-4 mb-5">
			<div class="light float-left d-table light">
				<a href="{{ url_for('search_data', q=q, min_samples=min_samples, max_samples=max_samples, sortby=sortby, organism=organism, page=1) }}" class="nodecoration black border-grey px-2 py-1 border-right-0 d-table-cell rounded-left"> << </a>
				<a href="{{ url_for('search_data', q=q, min_samples=min_samples, max_samples=max_samples, sortby=sortby, organism=organism, page=page-1 if page-1 > 1 else 1) }}" class="nodecoration black border-grey px-2 py-1 border-right-0 d-table-cell"> < </a>
				{% for page_nr in pages %}
					<a href="{{ url_for('search_data', q=q, min_samples=min_samples, max_samples=max_samples, sortby=sortby, organism=organism, page=page_nr) }}" class="nodecoration border-grey px-2 py-1 border-right-0 d-table-cell {{ 'bg-blue white regular' if page_nr == page else 'black' }}">{{page_nr}}</a>
				{% endfor %}
				<a href="{{ url_for('search_data', q=q, min_samples=min_samples, max_samples=max_samples, sortby=sortby, organism=organism, page=page+1 if page+1 < nr_pages else nr_pages) }}" class="nodecoration black border-grey px-2 py-1 border-right-0 d-table-cell"> > </a>
				<a href="{{ url_for('search_data', q=q, min_samples=min_samples, max_samples=max_samples, sortby=sortby, organism=organism, page=nr_pages) }}" class="nodecoration black border-grey px-2 py-1 d-table-cell rounded-right"> >> </a>
			</div>
		</div>
	</div>

	<!-- No Results -->
	{% else %}
	<div class="row mb-5">
		<div class="col-12 text-center my-5 light">
			<div class="large mb-3">Sorry, your search returned no results.</div>
			<div class="medium text-muted mb-5">Please try again with a different query.</div>
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}


{% block footer %}
<script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wNumb.js') }}"></script>

<script type="text/javascript">

	// Initialize Slider
	var slider = noUiSlider.create(document.getElementById('slider'), {
		start: [ {{ min_samples }}, {{ max_samples }} ], // 4 handles, starting at...
		margin: 1, // Handles must be at least 300 apart
		connect: true, // Display a colored bar between the handles
		orientation: 'horizontal', // Orient the slider vertically
		behaviour: 'tap-drag', // Move handle on tap, bar is draggable
		step: 1,
		format: wNumb({
			decimals: 0
		}),
		tooltips: true,
		range: {
			'min': 6,
			'max': 70
		},
		pips: { // Show a scale with the slider
			mode: 'values',
			values: [6, 35, 70],
			density: 10
		}
	})
	
	// Max samples +
	$('.noUi-value').last().html($('.noUi-value').last().html()+'+');

	// Slider Listener
	slider.on('change', function(range) {
		$('#min-samples').val(range[0]);
		$('#max-samples').val(range[1]);
		$('#dataset-search-form').submit();
	})

	// Set Samples if specified in args
	{% if request.args.get('min_samples') %}
		slider.set([{{request.args.get('min_samples')}}, {{request.args.get('max_samples')}}])
	{% endif %}

	// Auto-submit form
	$('#sortby,#organism').change(function(evt) {
		$('#dataset-search-form').submit();
	})

</script>
{% endblock %}