asn1crypto==0.24.0
beautifulsoup4==4.8.0
blinker==1.4
bs4==0.0.1
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cryptography==2.1.4
dill==0.3.0
Flask==1.1.1
Flask-Dance==2.2.0
Flask-Login==0.4.1
Flask-SQLAlchemy==2.4.0
future==0.17.1
gapic-google-cloud-datastore-v1==0.90.4
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
google-api-core==1.14.2
google-auth==1.6.3
google-cloud==0.34.0
google-cloud-bigquery==1.18.0
google-cloud-bigquery-datatransfer==0.4.1
google-cloud-bigtable==0.34.0
google-cloud-container==0.3.0
google-cloud-core==1.0.3
google-cloud-datastore==1.9.0
google-cloud-dns==0.30.2
google-cloud-error-reporting==0.32.0
google-cloud-firestore==1.4.0
google-cloud-language==1.3.0
google-cloud-logging==1.12.1
google-cloud-monitoring==0.33.0
google-cloud-pubsub==0.45.0
google-cloud-resource-manager==0.29.2
google-cloud-runtimeconfig==0.29.2
google-cloud-spanner==1.10.0
google-cloud-speech==1.2.0
google-cloud-storage==1.18.0
google-cloud-trace==0.22.1
google-cloud-translate==1.6.0
google-cloud-videointelligence==1.11.0
google-cloud-vision==0.39.0
google-gax==0.16.0
google-resumable-media==0.3.3
googleapis-common-protos==1.6.0
grpc-google-iam-v1==0.12.3
grpcio==1.23.0
h5py==2.9.0
httplib2==0.13.1
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
lazy==1.4
lxml==4.4.1
MarkupSafe==1.1.1
numpy==1.17.0
oauth2client==4.1.3
oauthlib==3.1.0
pandas==0.25.1
ply==3.11
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.9.1
psutil==5.6.3
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycrypto==2.6.1
pygobject==3.26.1
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2019.2
pyxdg==0.25
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
SecretStorage==2.3.1
sentry-sdk==0.11.1
six==1.11.0
soupsieve==1.9.3
SQLAlchemy==1.3.7
SQLAlchemy-Utils==0.34.2
urllib3==1.25.3
URLObject==2.4.3
uWSGI==2.0.18
Werkzeug==0.15.5
xlrd==1.2.0