{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!-- Title -->
{% block title %} BioJupies | Upload Raw Sequencing Data {% endblock %}

<!-- Content -->
{% block content %}

<div class="px-6">

	<!-- Title -->
	<div class="row pt-4">
		<div class="col-12 very-large text-center light px-5">Upload Raw Sequencing Data</div>
	</div>

	<!-- Introduction -->
	<hr width="100%" class="my-4">
	<div class="row">
		<div class="light very-small my-1 col-lg-8 col-xl-9 text-justify">
			Use the form below to upload your <b>raw RNA-seq data</b>.
			These files, which are typically in the <b>FASTQ format</b>, will be aligned to a reference genome and converted to a gene expression table.
			Once you have uploaded the desired files, click <b>Continue</b> to proceed.
		</div>
		<div class="col-lg-4 col-xl-3 my-auto text-center pt-3 pt-lg-0">
			<button class="btn black border-custom bg-white nodecoration mr-2" onclick="goBack();"><i class="fa fa-angle-left mr-2"></i>Back</button>
			<button class="btn navigate black border-custom bg-white nodecoration" form="upload-expression-form" type="submit" formaction="{{ url_for('upload_table') }}" formmethod="post" disabled="true">Continue<i class="fa fa-angle-right ml-2"></i></button>
		</div>
	</div>

	<!-- Upload File -->
	<div class="row">
		<hr width="100%" class="my-4">
		<div class="col-12 px-4 pt-1">

			<!-- Read Upload Form -->
			<form id="read-upload-form">
				<input id="fileinput" type="file" multiple>
				<button type="button" class="btn btn-lg btn-block btn-outline-primary mt-2" onclick="upload_reads();">Upload Files</button>
			</form>

			<!-- S3 Upload Wrapper -->
			<div id="form-wrapper">
			</div>

			<!-- Upload Form -->
			<div class="d-none">
				<form id="dataform" action="x" method="POST" enctype="multipart/form-data">
					<input id="uid" type="hidden" name="key" value="x">
					<input id="cid" type="hidden" name="AWSAccessKeyId" value="x">
					<input type="hidden" name="acl" value="private">
					<input type="hidden" name="success_action_redirect" value="success.html">
					<input id="policy" type="hidden" name="policy" value="x">
					<input id="signature" type="hidden" name="signature" value="x">
					<input type="hidden" name="Content-Type" value="application/octet-stream">
	
					<h2>File to upload to S3</h2>
					<input name="file" type="file" multiple>
					<br>
					<br>
					<button type="button" id="loginbutton" class="btn btn-lg btn-block btn-outline-primary" onclick="upload();">Upload File</button>
				</form>
	
				<!-- Progress Bar -->
				<div id="prbar" class="progress" style="height: 30px;">
					<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}


{% block footer %}

<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>

<script type="text/javascript">

	// Create an S3 Upload form
	function create_form(file, username, passwd) {

		// Get Sign Policy
		$.getJSON("https://amp.pharm.mssm.edu/charon/signpolicy?username=" + username + "&password=" + passwd, function (data) {

			// Create Form
			var $upload_form = $('<form>', {'method': 'POST', 'enctype': 'multipart/form-data', 'action': "https://" + data['bucket'] + ".s3.amazonaws.com/"})
									.append($('<input>', {'id': 'uid', 'type': 'hidden', 'name': 'key', 'value': data['uid'] + "/${filename}"}))
									.append($('<input>', {'id': 'cid', 'type': 'hidden', 'name': 'AWSAccessKeyId', 'value': data['cid']}))
									.append($('<input>', {'type': 'hidden', 'name': 'acl', 'value': 'private'}))
									.append($('<input>', {'type': 'hidden', 'name': 'success_action_redirect', 'value': 'success.html'}))
									.append($('<input>', {'id': 'policy', 'type': 'hidden', 'name': 'policy', 'value': data['policy']}))
									.append($('<input>', {'id': 'signature', 'type': 'hidden', 'name': 'signature', 'value': data['signature']}))
									.append($('<input>', {'type': 'hidden', 'name': 'Content-Type', 'value': 'application/octet-stream'}))
									.append($('<input>', {'id': 'file', 'type': 'file', 'name': 'file'}))
									.append($('<span>').html(file['name']));

			// Add file to form
			// $upload_form.find('#file').fileupload('send', {files: file})

			// Append form
			$('#form-wrapper').append($upload_form);

			// var bar = $('.bar');
			// var percent = $('.progress-bar');
			// var status = $('#status');

			// $('#dataform').ajaxForm({
			// 	beforeSend: function () {
			// 		status.empty();
			// 		var percentVal = '0%';
			// 		bar.width(percentVal);
			// 		percent.html(percentVal);
			// 		// $("#dataform").toggle();
			// 		// $("#prbar").toggle();
			// 	},
			// 	uploadProgress: function (event, position, total, percentComplete) {
			// 		var percentVal = percentComplete + '%';
			// 		bar.width(percentVal);
			// 		percent.html(percentVal);
			// 		percent.attr("aria-valuenow", percentComplete);
			// 		percent.css("width", percentVal);
			// 	},
			// 	complete: function (xhr) {
			// 		status.html(xhr.responseText);
			// 		// $("#dataform").toggle();
			// 		// $("#prbar").toggle();
			// 		alert('Done!')
			// 		checkFiles(username, passwd);
			// 	}
			// });
			// $('#dataform').submit();
		});

	}


	// Upload Reads to Amazon S3 Bucket
	function upload_reads() {

		// Get credentials
		username = 'biojupies';
		passwd = 'sequencing';

		// Get files
		var files = $('#fileinput').prop('files');

		// Loop through files
		$.each(files, function(index, file) {

			// Create a new form
			var form = create_form(file, username, passwd);

		})
	}


	function upload() {

		username = 'biojupies';
		passwd = 'sequencing';

		$.getJSON("https://amp.pharm.mssm.edu/charon/signpolicy?username=" + username + "&password=" + passwd, function (data) {

			var items = [];

			$.each(data, function (key, val) {

				if (key == "uid") {
					$('#uid').val(val + "/${filename}");
				}
				else if (key == "cid") {
					$('#cid').val(val);
				}
				else if (key == "bucket") {
					$('#dataform').attr("action", "https://" + val + ".s3.amazonaws.com/");
				}
				else if (key == "policy") {
					$('#policy').val(val);
				}
				else if (key == "signature") {
					$('#signature').val(val);
				}
			});

			var bar = $('.bar');
			var percent = $('.progress-bar');
			var status = $('#status');

			$('#dataform').ajaxForm({
				beforeSend: function () {
					status.empty();
					var percentVal = '0%';
					bar.width(percentVal);
					percent.html(percentVal);
					// $("#dataform").toggle();
					// $("#prbar").toggle();
				},
				uploadProgress: function (event, position, total, percentComplete) {
					var percentVal = percentComplete + '%';
					bar.width(percentVal);
					percent.html(percentVal);
					percent.attr("aria-valuenow", percentComplete);
					percent.css("width", percentVal);
				},
				complete: function (xhr) {
					status.html(xhr.responseText);
					// $("#dataform").toggle();
					// $("#prbar").toggle();
					alert('Done!')
					checkFiles(username, passwd);
				}
			});
			$('#dataform').submit();
		});

	}

	function checkFiles(username, passwd) {
		$.getJSON("https://amp.pharm.mssm.edu/charon/files?username=" + username + "&password=" + passwd, function (data) {
			var fileStr = "";
			var fileStr2 = "";
			filename = data["filenames"];
			filesize = data["filesize"];
			console.log(data);

			counter = 0
			for (i = 0; i < filename.length; i++) {
				if (filename[i].includes(".fastq")) {
					counter = counter + 1;
					fstr = "<span id=\"fn" + counter + "\">" + filename[i] + "</span><span style=\"float:right;\"><font color=\"grey\">" + filesize[i] + "</font></span>";
					fstr = "<label class=\"container\">" + fstr + "<input id=\"c" + counter + "\" class=\"seqcheck\" type=\"checkbox\" onclick=\"checkBox(" + counter + ")\"><span id=\"cm" + counter + "\" class=\"checkmark\"></span></label>"
					fileStr += fstr;
				}
				else {
					//fstr = filename[i]+" <span style=\"float:right;\"><font color=\"grey\">"+filesize[i]+"</font></span><br>";
					//fstr = "<label class=\"container\">"+fstr+"</label>"
					//fileStr2 += filename[i]+" <span style=\"float:right;\"><font color=\"grey\">"+filesize[i]+"</font></span><br>";
				}
			}

			$("#userfiles").html(fileStr + "" + fileStr2);
		});
	}


</script>

{% endblock %}
