{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!-- Title -->
{% block title %} BioJupies | Upload Raw Sequencing Data {% endblock %}

<!-- Content -->
{% block content %}

<div class="px-6">

	<!-- Title -->
	<div class="row pt-4">
		<div class="col-12 very-large text-center light px-5">Upload Raw Sequencing Data</div>
	</div>

	<!-- Introduction -->
	<hr width="100%" class="my-4">
	<div class="row">
		<div class="light very-small my-1 col-lg-8 col-xl-9 text-justify">
			Use the form below to upload <b>raw RNA-seq data</b> in FASTQ format.
			The files will be aligned to the reference genome to generate the quantified reads <b>expression table at the gene level</b>.
			The table will be subsequently made available for you to download and to generate the interactive notebook.
			Once you have uploaded the desired files, click <b>Continue</b> to proceed.
		</div>
		<div class="col-lg-4 col-xl-3 my-auto text-center pt-3 pt-lg-0">
			<button class="btn black border-custom bg-white nodecoration mr-2" onclick="goBack();"><i class="fa fa-angle-left mr-2"></i>Back</button>
			<button class="btn navigate black border-custom bg-white nodecoration continue-button" onclick="upload();" disabled="true">Continue<i class="fa fa-angle-right ml-2"></i></button>
		</div>
	</div>

	<!-- Upload File -->
	<hr width="100%" class="my-4">
	<div class="row">
		<div class="col-12 px-4 pt-1">

			<!-- Upload Wrapper -->
			<div id="upload-wrapper">

				<!-- Intro -->
				<div class="medium light mb-2">Upload Read Files</div>
				<div class="very-small light mb-3">To begin, <b>select the files</b> you wish to upload using the form below, then click on Upload Files to proceed.</div>
				
				<!-- Read Upload Form -->
				<form id="read-upload-form">
					<input type="hidden" name="upload" value="{{upload_uid}}">
					<input id="fileinput" type="file" class="mb-2" accept=".gz" multiple>
					<button type="button" class="btn btn-lg btn-block btn-outline-primary mt-2" onclick="upload_reads();">Upload Files</button>
				</form>
	
				<!-- Note -->
				<div class="light tiny text-muted mt-3 mb-5"><b>Note</b>: The form currently supports uploading of files in <span class="font-italic">.fastq.gz</span> format of less than 5GB in size. We reserve the right to delete the uploaded fastq.gz files after a time course of 1 week.</div>

			</div>

			<!-- Status -->
			<div id="status" class="mb-4"></div>

		</div>
	</div>
</div>

{% endblock %}


{% block footer %}

<script type="text/javascript">

	// File names
	var filenames = [];

	function progress_bar(filename) {
		$('#upload-wrapper').hide();
		$('#status').append(
			$('<div>', {'class': 'progress-bar-wrapper', 'data-filename': filename})
				.append($('<div>', {'class': 'progress-bar-text px-0 py-2 very-small regular mt-2'})
					.append($('<span>', {'class': ''}).html('Uploading '))
					.append($('<span>', {'class': 'bold'}).html(filename))
					.append($('<span>', {'class': ''}).html('...'))
				)
				.append($('<div>', {'class': 'rounded bg-lightgrey border-custom overflow-hidden mb-3'})
					.append($('<div>', {'class': 'progress-bar bg-primary text-center py-1 rounded-right text-nowrap'})
						.html('0%')
						.css('width', '0%')
					)
				)
		);
	}

	// Upload Reads to Amazon S3 Bucket
	function upload_reads() {

		// Get files
		var files = $('#fileinput').prop('files'),
			oversized_files = [],
			files_with_space = [],
			wrong_format_files = [],
			gb_limit=5;

		// Check file size
		$.each(files, function (index, file) {
			if (file.size > gb_limit*Math.pow(10, 9)) {
				oversized_files.push(file.name+' ('+(file.size/Math.pow(10,9)).toFixed(2)+' GB)');
			}
			if (file.name.indexOf(' ') > -1) {
				files_with_space.push(file.name)
			}
			if (file.name.indexOf('.fastq.gz') === -1 && file.name.indexOf('.fq.gz') === -1) {
				wrong_format_files.push(file.name)
			}
		})
		
		// Check if any file is oversized
		if (oversized_files.length) {

			// Alert oversized files
			alert('The following files exceed '+gb_limit+'GB, which is the maximum file size supported by BioJupies. Please remove them to proceed.\n\n • '+oversized_files.join('\n • ')+'\n\nTo analyze the data, we recommend quantifying gene counts using kallisto or STAR, and uploading the generated read counts using the BioJupies table upload (https://amp.pharm.mssm.edu/biojupies/upload).');

		} else if (files_with_space.length) {

			// Alert oversized files
			alert('The following file(s) contain one or more spaces in their file names. This is currently not supported by the BioJupies alignment pipeline. Please rename them to proceed.\n\n • '+ files_with_space.join('\n • '));

		} else if (wrong_format_files.length) {

			// Alert wrong format files
			alert('BioJupies only supports alignment of files in the .fastq.gz or .fq.gz formats. The following file(s) are stored in formats which are currently not supported. Please remove or reformat them to proceed.\n\n • '+ wrong_format_files.join('\n • '));

		} else {
			
			// Loop through files
			$.each(files, function(index, file) {

				// Add progress bar
				progress_bar(file['name']);

				// Get Sign Policy
				$.getJSON("{{ url_for('elysium_api', request_type='signpolicy') }}", function (data) {

					// Create Form
					var FD = new FormData();
					FD.append('key', data['uid'] + "/{{upload_uid}}-${filename}");
					FD.append('AWSAccessKeyId', data['cid']);
					FD.append('acl', 'private');
					FD.append('success_action_redirect', 'success.html');
					FD.append('policy', data['policy']);
					FD.append('signature', data['signature']);
					FD.append('Content-Type', 'application/octet-stream');
					FD.append('file', file);

					// Get filename
					var filename = file['name'];

					// Create Request
					var xhr = new XMLHttpRequest();
					xhr.open("POST", "https://" + data["bucket"] + ".s3.amazonaws.com/", true);
					xhr.onloadstart = function (e) {
						console.log("start")
					}
					xhr.onloadend = function (e) {
						// Set complete status on progress bar
						$('[data-filename="' + filename + '"] .progress-bar').attr('data-status', 'complete');
						$('[data-filename="' + filename + '"] .progress-bar-text span:first-child').html('Successfully uploaded ');
						$('[data-filename="' + filename + '"] .progress-bar-text span:last-child').html('');

						// Activate button if all progress bars are complete
						if ($('.progress-bar').length === $('.progress-bar[data-status="complete"]').length) {
							$('.continue-button').prop('disabled', false).toggleClass('black white bg-white bg-blue');
						}
						console.log("end")

						filenames.push(filename);
						// Call FASTQ Upload Status API
					}
					xhr.upload.addEventListener('progress', function (evt) {
						if (evt.lengthComputable) {
							var progress = Math.ceil((evt.loaded / evt.total) * 100)+'%';
							$('[data-filename="' + filename + '"] .progress-bar').html(progress);
							$('[data-filename="' + filename + '"] .progress-bar').css('width', progress);
						}
					}, false);
					xhr.send(FD);

				});

			})
		
		}
	}

	// Upload read UID to database
	function upload() {
				
		// Upload to database
		$.ajax({
			url: "{{ url_for('upload_reads_api') }}",
			method: "POST",
			data: JSON.stringify({ "upload_uid": "{{ upload_uid }}", "filenames": filenames }),
			contentType: "application/json; charset=utf-8",
			dataType: 'json',
			success: function (res) {
				console.log(res);
				// Redirect
				window.location.href = '{{ url_for("upload_reads", upload=upload_uid) }}';
			},
			error: function (err) {
				alert('Sorry, there has been an error uploading your data. Please try again soon.')
			}
		})

	}

</script>

{% endblock %}
