{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}BioJupies | Uploading Dataset...{% endblock %}

{% block head %}
	<style type="text/css">html{height: 100%;}body{height: 100%; overflow: hidden;}#outer-container{height: 100%;}</style>
{% endblock %}

{% block content %}

<div class="px-6">


	<!-- Loader -->
	<div class="row">
		<hr width="100%">
		<div class="col-12 text-center mt-5 pb-5" style="overflow: hidden;">
			<div id="status" class="mt-5 medium">Uploading your dataset...</div>
			<div id="info" class="mt-4 very-small">You will be redirected as soon as the process is complete.</div>
			<div class="loader">Loading...</div>
			<input type="hidden" id="data" value="{{f}}">
		</div>
	</div>
	
</div>

{% endblock %}


{% block footer %}

<script type="text/javascript">

	$.ajax({	
		url: "{{ url_for('upload_table_api') }}",
		method: "POST",
		data: $('#data').val(),
		contentType: "application/json; charset=utf-8",
		dataType: 'json',
		success: function(res) {
			window.location.replace("{{ url_for('add_tools') }}"+"?uid="+res['dataset_uid']);
		},
		error: function(e) {
			$('#status').html('Sorry, there has been an error.');
			$('#info').hide();
			$('.loader').hide();
			console.log(e);
		}
	})


</script>

{% endblock %}
